ai_agent_to_automate_seo_research___content_creation_-HUvidGmLFbZfthI2.json
{"createdAt":"2025-05-24T22:20:00.368Z","updatedAt":"2025-05-24T22:21:51.442Z","id":"HUvidGmLFbZfthI2","name":"AI_Agent_to_Automate_SEO_Research___Content_Creation_","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"be7a402a-9199-4c90-aac6-c29adc71b466","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,380]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{"mergeLists":false}},"id":"cb1a3ad9-ad43-4ea5-a662-d1014432ba5d","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[900,380]},{"parameters":{"model":"gpt-4o","options":{}},"id":"6b5b2aa7-b2cf-4755-a64f-e82ead202368","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,760]},{"parameters":{"content":"## SEO Repurpose Article","height":585.2195443010831,"width":1124.8469391752762},"id":"ce886f70-53f5-4a42-a565-32043e97e97b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,320]},{"parameters":{"content":"## SEO Keywords Research","height":255.27567853988245,"width":1289.05093233833,"color":5},"id":"a083d00b-6206-4111-b99a-f5fbcc0c9102","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"url":"=https://google.com/complete/search?output=toolbar&gl=US&q={{ $json.Keywords }}","options":{}},"id":"a2893855-d0a6-4fde-926b-c187353a87aa","name":"Autogenerate Keywords","type":"n8n-nodes-base.httpRequest","position":[460,80],"typeVersion":4.1},{"parameters":{"options":{}},"id":"72c58d63-d68d-443d-b88a-30b881771ae5","name":"Format Keywords","type":"n8n-nodes-base.xml","position":[600,80],"typeVersion":1},{"parameters":{"fieldToSplitOut":"toplevel.CompleteSuggestion","options":{}},"id":"12a9af43-fb37-44d2-813a-fa50a2b05ebd","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[740,80],"typeVersion":1},{"parameters":{},"id":"ad4049b1-0ffa-4b6b-b7ed-8781cd8f0ba5","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[320,80]},{"parameters":{"documentId":{"__rl":true,"value":"1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E","mode":"list","cachedResultName":"SEO Campaign","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":213818299,"mode":"list","cachedResultName":"SEO Keywords Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit#gid=213818299"},"filtersUI":{"values":[{"lookupColumn":"List of keywords"}]},"options":{}},"id":"0a7a1ceb-03a0-430e-8221-8aec8a60b86e","name":"Read Keywords","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[180,80],"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fb95058f-0c20-4249-8a45-7b935fde1874","name":"Keywords","type":"array","value":"={{ $json.suggestion.data }}"}]},"options":{"ignoreConversionErrors":true}},"id":"2351bdf6-145c-428d-a1a4-5cc64f987978","name":"Clean Keywords","type":"n8n-nodes-base.set","position":[880,80],"typeVersion":3.3},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Keywords"}]},"options":{}},"id":"988711e2-32da-4205-b4af-2af005bac63e","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[1020,80],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E","mode":"list","cachedResultName":"SEO Campaign","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":213818299,"mode":"list","cachedResultName":"SEO Keywords Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit#gid=213818299"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Limit').item.json.row_number }}","List of keywords":"={{ $json.Keywords.join() }}"},"matchingColumns":["row_number"],"schema":[{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"List of keywords","displayName":"List of keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"4e0a69ad-d1f1-462c-a7dd-eae0d51f7716","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,80]},{"parameters":{"documentId":{"__rl":true,"value":"1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E","mode":"list","cachedResultName":"SEO Campaign","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"SEO Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"SEO Article"}]},"options":{}},"id":"941143ec-9651-4201-b6e8-1c1a1ff0012c","name":"Get Article","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[180,380]},{"parameters":{"fieldToSplitOut":"['List of keywords']","options":{}},"id":"6a1734e1-a7b5-457a-83b4-581676c4282b","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[340,620]},{"parameters":{"documentId":{"__rl":true,"value":"1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E","mode":"list","cachedResultName":"SEO Campaign","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":213818299,"mode":"list","cachedResultName":"SEO Keywords Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit#gid=213818299"},"options":{}},"id":"756b8e3b-ff93-4b7e-800e-469811ff1470","name":"Read SEO Keywords","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[180,620]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"['[\\'List of keywords\\']']"}]},"options":{}},"id":"010d4ca2-9543-4087-bc33-3e7002a408db","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[500,620]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E","mode":"list","cachedResultName":"SEO Campaign","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"SEO Content","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JOuc5Cihk-IWznqCMdoDUwEskkO8NuLHhkgCCcDA20E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"SEO Article":"={{ $json.output }}","Campaign Description":"={{ $('Get Article').item.json['Campaign Description'] }}"},"matchingColumns":["Campaign Description"],"schema":[{"id":"Campaign Description","displayName":"Campaign Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target Audience","displayName":"Target Audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Article","displayName":"SEO Article","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"45b15f1b-d179-4215-a764-eb0ea2ba4fe7","name":"Update Article","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,620]},{"parameters":{},"id":"3ec3f1a0-20b3-434f-b7a8-df4f9a16f33a","name":"When clicking 'Test workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[40,380]},{"parameters":{"method":"POST","url":"https://api.exa.ai/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"{{ $json.message.content }}\",\n  \"type\": \"neural\",\n  \"useAutoprompt\": true,\n  \"contents\": {\n    \"text\": true\n  }\n}","options":{}},"id":"1f55bb6b-a3c0-4ddc-86e0-162b5ab2af9b","name":"Exa Get Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,380]},{"parameters":{"promptType":"define","text":"=Article Content:\n{{ $('Aggregate').item.json.text.toJsonString() }}\nTarget Audience:\n{{ $('Get Article').item.json['Target Audience'] }}","options":{"systemMessage":"=# System Role\nYou are a SEO article copywriter specializing in transforming incoming articles into highly SEO favoured news tailored to a specific target audience.\n\n# SEO Keywords\n{{ $json['[\\'List of keywords\\']'] }}"}},"id":"644e3d13-435a-41d9-8c7d-6c024200ef84","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[660,620]},{"parameters":{"rule":{"interval":[{}]}},"id":"12da73eb-ceb2-4a6f-a5d9-96da119a4bc8","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[40,80]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are a helpful assistant that generates search queries based on user questions. Only generate one search query. Today's time {{ $now }}, text only without \"\" or ''","role":"system"},{"content":"={{ $json['Campaign Description'] }}"}]},"options":{}},"id":"0ff0355d-33b6-4c9e-9f5e-fb5101a0bb40","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[320,380]}],"connections":{"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Read SEO Keywords","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Autogenerate Keywords":{"main":[[{"node":"Format Keywords","type":"main","index":0}]]},"Format Keywords":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Clean Keywords","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Autogenerate Keywords","type":"main","index":0}]]},"Read Keywords":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Clean Keywords":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Get Article":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Read SEO Keywords":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking 'Test workflow'":{"main":[[{"node":"Get Article","type":"main","index":0}]]},"Exa Get Content":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Update Article","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Read Keywords","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Exa Get Content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1ca0c1c3-a9f0-4b34-8959-6c43d388a992","triggerCount":0,"tags":[{"createdAt":"2025-05-24T22:19:40.721Z","updatedAt":"2025-05-24T22:19:40.721Z","id":"mxPBRK6pjpcZv3NG","name":"andynocode free"}]}