askgemblers-scrapper-7CDngoiGHhtzLfV1.json
{"createdAt":"2025-05-25T17:20:05.759Z","updatedAt":"2025-05-28T00:22:06.885Z","id":"7CDngoiGHhtzLfV1","name":"ASKgemblers scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-680,-220],"id":"b3875e84-c6dc-4817-9ce3-8164a66ed5f8","name":"When clicking ‘Test workflow’"},{"parameters":{"fieldToSplitOut":" links","options":{}},"id":"35d29b28-9588-416c-8cce-15ef5212e0c6","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-240,-280]},{"parameters":{"options":{"reset":false}},"id":"9bc14ae8-8daf-47be-aea3-6b8177cb96f9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[760,-160],"alwaysOutputData":true},{"parameters":{"resource":"Default","operation":"Map A Website And Get Urls","url":"https://www.askgamblers.com/","search":"/online-casinos/reviews/","requestOptions":{}},"type":"n8n-nodes-firecrawl.fireCrawl","typeVersion":1,"position":[-480,-260],"id":"62cc4d7b-0883-4c7b-83d1-228a4813db1a","name":"FireCrawl","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"fireCrawlApi":{"id":"NK0IqxwbNWJk66u7","name":"FireCrawl account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Review link":"={{ $json.links }}"},"matchingColumns":["Review link"],"schema":[{"id":"Review link","displayName":"Review link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,-260],"id":"b6888789-422f-4382-a2e3-d5284d3790cd","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54ae1e4a-ffff-48f8-b62d-783fa97c633c","leftValue":"={{ $json.links }}","rightValue":"/online-casinos/reviews/","operator":{"type":"string","operation":"contains"}},{"id":"b7508013-fa39-4355-9e6d-4f8e22fd02ba","leftValue":"={{ $json.links }}","rightValue":"complaints","operator":{"type":"string","operation":"notContains"}},{"id":"64348a68-3aed-48f5-808d-a3c2ba11b7d6","leftValue":"={{ $json.links }}","rightValue":"bonuses","operator":{"type":"string","operation":"notContains"}},{"id":"69dd55c9-3921-4628-ae6e-ebb73f066b27","leftValue":"={{ $json.links }}","rightValue":"9","operator":{"type":"string","operation":"notEndsWith"}},{"id":"1448a89f-4ff1-4a41-9cf1-cccac02cbb50","leftValue":"={{ $json.links }}","rightValue":"47","operator":{"type":"string","operation":"notEndsWith"}},{"id":"1ccb1de2-913e-4b18-961b-f33e7719e878","leftValue":"={{ $json.links }}","rightValue":"29","operator":{"type":"string","operation":"notEndsWith"}},{"id":"78dbb40e-1ea5-40db-8911-493247d6b80d","leftValue":"={{ $json.links }}","rightValue":"88","operator":{"type":"string","operation":"notEndsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-20,-260],"id":"079b72e4-aceb-4773-aed4-cac50844fc77","name":"Filter"},{"parameters":{"resource":"Default","operation":"Scrape A Url And Get Its Content","url":"={{ $json['Review link'] }}","formats":["extract"],"extract":{"items":{"systemPrompt":"Don`t extract data","prompt":"Extract the following information about the casino from this page:   1. Casino Website URL 2. Contact Email   Please structure the extracted information as JSON, matching the provided schema fields when possible. If a field is not available, leave it empty or omit it."}},"requestOptions":{}},"type":"n8n-nodes-firecrawl.fireCrawl","typeVersion":1,"position":[1020,-100],"id":"f252cd8c-4ca6-4909-8206-6931000f4165","name":"FireCrawl1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":2,"credentials":{"fireCrawlApi":{"id":"NK0IqxwbNWJk66u7","name":"FireCrawl account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Review link":"={{ $('Loop Over Items').item.json['Review link'] }}","Link":"={{ $json.data.extract.casinoWebsiteURL }}","emal":"={{ $json.data.extract.contactEmail }}"},"matchingColumns":["Review link"],"schema":[{"id":"Review link","displayName":"Review link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1920,-400],"id":"831b12ed-d38b-4298-b55f-95323a620f09","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"amount":1},"id":"b2109e39-88f0-42f7-a526-e9916714fd2d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1260,-100],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-40,140],"id":"ae1e2ac6-03f4-4513-be00-dba970957c0c","name":"Google Sheets","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e560d417-ef9a-4259-b529-d6de64e3e27a","leftValue":"={{ $json.success }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,-100],"id":"12b7941a-c67d-49cb-8b49-58c1a10c641b","name":"If"},{"parameters":{"amount":15},"id":"cd6de231-3c14-4c26-84b8-80c606e1ffd0","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,-80],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54ae1e4a-ffff-48f8-b62d-783fa97c633c","leftValue":"={{ $json.Link }}","rightValue":"/online-casinos/reviews/","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"45f5d3a1-dde2-4824-8e67-a747b3a48d88","leftValue":"={{ $json.emal }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[460,-40],"id":"e95e60ab-6c4a-4370-8cc3-204d7f3d1ade","name":"Filter1"},{"parameters":{"amount":1},"id":"984bf40e-5fed-42c4-9c63-504861a2877a","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-260,140],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"rule":{"interval":[{"daysInterval":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-660,0],"id":"17339a13-7657-41d2-91cf-79c8623bb869","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"FireCrawl","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"FireCrawl":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"FireCrawl1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"FireCrawl1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets2","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"FireCrawl","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[146]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"241d0325-e004-4b47-bae3-7172cb8ebab0","triggerCount":1,"tags":[]}