deepseek_ai_to_create_faceless_youtube_videos-jcgGqg2Nzdqm3iZK.json
{"createdAt":"2025-05-24T22:45:24.384Z","updatedAt":"2025-05-24T22:53:25.265Z","id":"jcgGqg2Nzdqm3iZK","name":"DeepSeek_AI_to_Create_Faceless_YouTube_Videos","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2c3c2f14-d2c5-4daa-b60f-d9f256738a85","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,80]},{"parameters":{"assignments":{"assignments":[{"id":"41a5f41c-2aba-4ab9-943e-e0eda429a7bb","name":"Video Category","value":"Animal Story","type":"string"},{"id":"c7c1a567-3881-44e5-b4bd-1b973e0fc485","name":"Bucket Name","value":"n8n-backend","type":"string"},{"id":"79d7a065-dd9d-42a8-8490-244a6c2cd34f","name":"Unique ID","value":"={{ $now.valueOf() }}","type":"string"}]},"options":{}},"id":"7d801a6e-2c05-48f4-a9f9-650d8af9b2ab","name":"Video Category","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,80]},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": \"{{ $json.prompt.replaceSpecialChars().replaceAll('\\\"', '') }}\",\n  \"negative_prompt\": \"text, watermark, signature, paragraph, wording, letters, symbols, writing, nude, nudity, explicit content, obscene, inappropriate, offensive, forbidden, illegal, prohibited, sexual, graphic, violence, gore, blood, disturbing\",\n  \"width\": 1024,\n  \"height\": 1024,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}","options":{}},"id":"689c1b2f-228b-4b39-a650-63fefe537b6e","name":"Get Image Base 64","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300]},{"parameters":{"operation":"toBinary","sourceProperty":"output.choices[0].image_base64","options":{}},"id":"1b5860ad-4301-4e80-9e5f-485508a306f2","name":"Convert to Image","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[860,300]},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n          {\"role\": \"system\", \"content\": \"You are a youtube video script writer. Your task is to convert video category into interesting story.\\nDuration of the video: 30 Seconds\\nTone: Interesting storytelling.\\n\\n***Text Only, Without Any Guiding Text\\n***Don't add anly Closing Scene, Opening Scene, Action Text. Only Voiceover Text\"},\n          {\"role\": \"user\", \"content\": \"{{ $json['Video Category'] }}\"}\n        ],\n  \"stream\": false\n}","options":{}},"id":"8c525a7a-0a93-4c95-8413-76a0df09e4d8","name":"Get Transcript By Deepseek","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,80],"credentials":{"httpHeaderAuth":{"id":"zpmiDekF62uB7h1g","name":"DeepSeek"}}},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/bIHbv24MWmeRgasZH58o","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.choices[0].message.content }}"}]},"options":{}},"id":"0d0fc17d-054c-422d-85ca-c0c3b3bb25db","name":"Fetch Elevenlabs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,80],"credentials":{"httpHeaderAuth":{"id":"tjrvBVHSFAOpzuli","name":"Perplexity"}}},{"parameters":{"assignments":{"assignments":[{"id":"fa85d7b9-aede-4b61-a8f1-78a1dba92869","name":"Audio URL","value":"=https://{{ $('Video Category').first().json['Bucket Name'] }}.storage.googleapis.com/voice_{{ $('Video Category').item.json['Unique ID'] }}.mp3","type":"string"}]},"options":{}},"id":"540dd134-c160-4cd2-a894-94f43306e58e","name":"Map Public Link","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,80]},{"parameters":{"url":"={{ $json['Audio URL'] }}","options":{}},"id":"f75f9dc2-8d9b-413a-929a-85e699a8de3d","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,80]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"timestamp_granularities[]","value":"word"},{"name":"model","value":"whisper-1"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"649cb525-645a-4c70-9a34-916c8c62bf9e","name":"Open AI Whisper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,80]},{"parameters":{"jsCode":"return $items('Open AI Whisper').map(item => {\n  const words = item.json.words;\n  const result = [];\n\n  for (let i = 0; i < words.length; i += 3) {\n    const chunk = words.slice(i, i + 3);\n    result.push({\n      words: chunk.map(word => word.word.charAt(0).toUpperCase() + word.word.slice(1)).join(' '),\n      start: chunk[0].start,\n      end: chunk[chunk.length - 1].end,\n    });\n  }\n\n  return {\n    json: {\n      chunks: result,\n    },\n  };\n});"},"id":"49eaaafb-303e-44c3-8d97-8504388eb2d2","name":"Combine Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,520]},{"parameters":{"jsCode":"return items.map(item => {\n  const words = item.json.words; // Assuming the words are stored in item.json.words\n  const result = [];\n  \n  let startTime = words[0].start; // Start time for the first word\n  let endTime = startTime + 6; // Set the 6-second interval\n  \n  let currentGroup = []; // Holds the current group of words\n  \n  // Loop through each word and group them into 6-second intervals\n  let index = 0;\n  for (const word of words) {\n    if (word.start < endTime) {\n      // If the word's start time is within the current 6-second interval\n      currentGroup.push(word.word);\n    } else {\n      index ++;\n      // If the word's start time exceeds the current interval, save the group\n      result.push({\n        text: currentGroup.join(' '),\n        start: startTime,\n        end: word.end,\n        index: index\n      });\n      \n      // Start a new group for the next interval\n      startTime = word.start;\n      endTime = startTime + 6;\n      currentGroup = [word.word]; // Start with the current word\n    }\n  }\n\n  // Push the last group if there are any remaining words\n  if (currentGroup.length > 0) {\n    index++;\n    result.push({\n      text: currentGroup.join(' '),\n      start: startTime,\n      end: words[words.length - 1].end,\n      index: index\n    });\n  }\n\n  return {\n    json: {\n      groups: result,\n    },\n  };\n});\n"},"id":"beb27647-12a4-4707-880b-43d875ef8d4c","name":"Create a List of Image Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[100,300]},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n          {\"role\": \"system\", \"content\": \"You are an image prompt designer, your task is to convert the following transcript text into image prompt for image generation model.\\n\\nHere are the style of the image:\\nStyle: Hyperrealism, 8K\\n\\n***Output the prompt directly without Image Prompt.\\n***Don't include \\\",',double quotes and single quotes\"},\n          {\"role\": \"user\", \"content\": \"{{ $json['text'].replaceAll(\"\\\"\", \"\") }}\"}\n        ],\n  \"stream\": false\n}","options":{}},"id":"8351cd67-54b9-4872-b913-1190ee663c9f","name":"Convert to Flux Prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,300]},{"parameters":{"fieldToSplitOut":"groups","options":{}},"id":"b5b7a3fe-48c3-4d01-a241-c890c73fcb6d","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,300]},{"parameters":{"resource":"object","operation":"create","bucketName":"={{ $('Video Category').item.json['Bucket Name'] }}","objectName":"=voice_{{ $('Video Category').item.json['Unique ID'] }}.mp3","createData":{},"createQuery":{},"encryptionHeaders":{},"requestOptions":{}},"id":"b58d44ed-5be8-4f4a-81c5-444ddf02503b","name":"Save Audio","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[860,80]},{"parameters":{"resource":"object","operation":"create","bucketName":"={{ $('Video Category').first().json['Bucket Name'] }}","objectName":"=image-{{ $itemIndex + 1 }}-{{ $('Video Category').item.json['Unique ID'] }}.jpeg","createData":{},"createQuery":{},"encryptionHeaders":{},"requestOptions":{}},"id":"30e1b0b1-4442-4dd0-a29e-0e248ab6cddd","name":"Save Image","type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[1180,300]},{"parameters":{"fieldToSplitOut":"choices[0].message.content","options":{"destinationFieldName":"prompt"}},"id":"777f7cdb-2917-4f0f-ad10-ce428fb7ffd7","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[540,300]},{"parameters":{"keep":"lastItems"},"id":"87f8f40d-983b-4398-92f6-eb572f67e5f8","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1320,300]},{"parameters":{"assignments":{"assignments":[{"id":"c2769c06-f545-4d4e-acc0-fa5ef1250191","name":"Image ID","value":"={{ $('Create a List of Image Text').item.json.groups.length }}","type":"string"}]},"options":{}},"id":"57082ae1-f7b4-4263-9940-c69a3e2de000","name":"Image Link","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,300]},{"parameters":{"assignments":{"assignments":[{"id":"256f6069-680b-45e4-a378-1d861e8d1345","name":"Music URL","value":"=https://{{ $('Video Category').first().json['Bucket Name'] }}.storage.googleapis.com/bg.mp3","type":"string"}]},"options":{}},"id":"e35fb7a8-8077-4c8e-8d58-f31f994b3711","name":"Map Music","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,520]},{"parameters":{"method":"POST","url":"=https://ai-automation-community.vercel.app/api/function/video-generation/image-video","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"type\": \"ImageVideo\",\n    \"data\": {\n        \"background_url\": \"{{ $json['Music URL'] }}\",\n        \"image_list\": [{{ Array.from({ length: $('Image Link').item.json['Image ID'] }, (_, i) => \n  `\"https://${$('Video Category').first().json['Bucket Name']}.storage.googleapis.com/image-${i + 1}-${ $('Video Category').first().json['Unique ID'] }.jpeg\"`\n) }}],\n        \"voice_url\": \"{{ $('Map Public Link').item.json['Audio URL'] }}\",\n        \"transcripts\": {{ JSON.stringify($('Combine Transcript').item.json.chunks) }}\n    }\n}","options":{}},"id":"7ace7dcf-5e00-4d8d-990b-5ae39acacb07","name":"Create Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,520]},{"parameters":{"amount":1,"unit":"minutes"},"id":"f53267a6-0f4d-41a4-891d-09ebc3f382d4","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,520],"webhookId":"6dcdb833-896a-4f5c-94b9-3951378fb12b"},{"parameters":{"url":"=https://ai-automation-community.vercel.app/api/function/video-generation/progress/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"id":"d6eeb898-c828-4a37-9aa3-e6a58282c4fd","name":"Get Video Progress","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,520]},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n          {\"role\": \"system\", \"content\": \"Convert the following transcript into a Youtube shorts caption. Ensure the tone is engaging and suitable for Youtube Shorts, with a focus on visuals, hashtags, and a call-to-action where appropriate. Maintain the core message while adapting it for a longer and more expressive format.\\n\\nMaximum Total Text Length: 100\"},\n          {\"role\": \"user\", \"content\": \"{{ $('Open AI Whisper').item.json.text.replaceAll(\"\\\"\", \"\") }}\"}\n        ],\n  \"stream\": false\n}","options":{}},"id":"7b19d701-1bd7-4168-82a1-764bf7f6a188","name":"Get Caption By Deepseek","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,520]},{"parameters":{"content":"## Produce Faceless Video","height":695.3654019829819,"width":1611.045786572241,"color":4},"id":"2eb6bccd-e240-4961-bcd3-40b8d40a2294","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json['Video Title'].replaceAll(\"\\\"\", \"\") }}","regionCode":"HK","categoryId":"1","options":{"description":"={{ $json.Captions }}"}},"id":"433d6bc3-9628-4465-8011-758f8f08a181","name":"YouTube","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[540,820]},{"parameters":{"content":"## Video Upload\n","height":242.77071117471706,"width":841.6434443172031},"id":"3211e4fb-c40f-4c9d-9ab2-4cc6cf3e13a0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,740]},{"parameters":{"documentId":{"__rl":true,"value":"xxxxx","mode":"list","cachedResultName":"Youtube Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"=proxa-sam","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Post Status","lookupValue":"pending"}]},"options":{"returnFirstMatch":false}},"id":"2d7c382e-81af-4417-bf15-2adc5bc6b5fa","name":"Grab Video","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,820]},{"parameters":{"url":"={{ $json['Video Url'] }}","options":{}},"id":"28aa7065-db6c-44b8-8920-e04c0d034626","name":"Download Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,820]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"xxxxx","mode":"list","cachedResultName":"Youtube Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"=proxa-sam","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Grab Video').item.json.row_number }}","Post Status":"posted","Post Time":"={{ $now }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Url","displayName":"Video Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Post Status","displayName":"Post Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Time","displayName":"Post Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Captions","displayName":"Captions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Issues","displayName":"Issues","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"544dabcf-2d5f-4f47-890d-5c9f2143bbdd","name":"Update Video Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,820]},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n          {\"role\": \"system\", \"content\": \"Convert the following transcript into a Youtube shorts title. Ensure the tone is engaging and suitable for Youtube, with a focus on visuals, and a call-to-action where appropriate. Maintain the core message while adapting it for a longer and more expressive format.\\n\\nMaximum Total Text Length: 30\"},\n          {\"role\": \"user\", \"content\": \"{{ $('Open AI Whisper').item.json.text.replaceAll(\"\\\"\", \"\") }}\"}\n        ],\n  \"stream\": false\n}","options":{}},"id":"c569336f-ce0e-47e8-bb04-5beb39f98b24","name":"Get Title By Deepseek","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,520]},{"parameters":{"amount":10},"id":"6eff44af-691f-427e-8de4-041e6b8dcff3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,80],"webhookId":"84defe71-7186-4e93-8cb1-01f6a879d397"},{"parameters":{"amount":10},"id":"a59ad942-605a-4b3e-80c8-d01133eb52b0","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1020,300],"webhookId":"cad93f44-b25d-4ec2-a5b8-f36108ff9112"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"xxxxx","mode":"list","cachedResultName":"Youtube Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":417115235,"mode":"list","cachedResultName":"proxa-sam","cachedResultUrl":"https://docs.google.com/spreadsheets/d/xxxxx/edit#gid=417115235"},"columns":{"mappingMode":"defineBelow","value":{"Video Title":"={{ $json.choices[0].message.content }}","Video Url":"={{ $('Get Video Progress').item.json.data.url }}","Captions":"={{ $('Get Caption By Deepseek').item.json.choices[0].message.content }}"},"matchingColumns":[],"schema":[{"id":"Video Title","displayName":"Video Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Url","displayName":"Video Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Post Status","displayName":"Instagram Post Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tiktok Post Status","displayName":"Tiktok Post Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Youtube Post Status","displayName":"Youtube Post Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Time","displayName":"Post Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Captions","displayName":"Captions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Issues","displayName":"Issues","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"ae3fb7f9-a39b-4406-8f22-4c9dd08688a7","name":"Append Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1180,520]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Video Category","type":"main","index":0}]]},"Get Image Base 64":{"main":[[{"node":"Convert to Image","type":"main","index":0}]]},"Video Category":{"main":[[{"node":"Get Transcript By Deepseek","type":"main","index":0}]]},"Get Transcript By Deepseek":{"main":[[{"node":"Fetch Elevenlabs","type":"main","index":0}]]},"Fetch Elevenlabs":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Map Public Link":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Open AI Whisper","type":"main","index":0}]]},"Open AI Whisper":{"main":[[{"node":"Create a List of Image Text","type":"main","index":0}]]},"Create a List of Image Text":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Convert to Flux Prompt","type":"main","index":0}]]},"Convert to Flux Prompt":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Convert to Image":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Save Audio":{"main":[[{"node":"Map Public Link","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Get Image Base 64","type":"main","index":0}]]},"Save Image":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Image Link","type":"main","index":0}]]},"Image Link":{"main":[[{"node":"Combine Transcript","type":"main","index":0}]]},"Combine Transcript":{"main":[[{"node":"Map Music","type":"main","index":0}]]},"Map Music":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Video Progress","type":"main","index":0}]]},"Get Video Progress":{"main":[[{"node":"Get Caption By Deepseek","type":"main","index":0}]]},"Get Caption By Deepseek":{"main":[[{"node":"Get Title By Deepseek","type":"main","index":0}]]},"Grab Video":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"YouTube","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"Update Video Status","type":"main","index":0}]]},"Get Title By Deepseek":{"main":[[{"node":"Append Row","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Save Audio","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Save Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"94df74b0-0018-4e4a-a746-012880566e1a","triggerCount":0,"tags":[]}