email-extractor-QEeEMNWSqAw3NKEa.json
{"createdAt":"2025-05-26T15:24:08.607Z","updatedAt":"2025-05-29T20:59:35.871Z","id":"QEeEMNWSqAw3NKEa","name":"Email extractor","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,300],"id":"b8a2d081-ccf0-4dfa-b1ab-58eca24c70bd","name":"Get Fields to Google Sheet1"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"EMAIL","value":"={{ $json.emal }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,500],"id":"44705ffb-b7d3-42f1-97ed-052e6704de92","name":"Get Fields to Google Sheet2"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"EMAIL","value":"={{ $json.emal }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,700],"id":"6799ef4b-ef0f-49a8-bc29-35c4cb73b069","name":"Get Fields to Google Sheet3"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[700,460],"id":"5caa5172-79dd-488b-98e7-c48539e88c9c","name":"Merge"},{"parameters":{"fieldToSplitOut":"EMAIL","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1360,520],"id":"2275f8b1-44be-418c-b22f-2f52b73c4561","name":"Split Out2"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"EMAIL","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[920,500],"id":"beffcc0f-cc72-4dc7-9e51-b1febc5fcd00","name":"Remove Duplicates1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1140,500],"id":"de1e6cdf-ccf0-43af-b48f-f133e5d81361","name":"Aggregate4"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":808347160,"mode":"list","cachedResultName":"vladi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=808347160"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[100,440],"id":"648354c5-e97f-4b5d-936f-c25f4949ebfb","name":"Get Job","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-820,500],"id":"b31f8730-91fc-4980-acdc-dfc8246d3a86","name":"Schedule Trigger1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[980,960],"id":"bdc020f3-e677-4a3f-9cb7-34cc6f224f91","name":"When clicking ‘Test workflow’"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-260,460],"id":"6a1caa2e-652c-404e-a869-a0514447e042","name":"Wait","webhookId":"55e0da31-8309-42f5-9791-05e6611138bb"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[100,620],"id":"f0cbc5c5-142e-409e-b48c-49b6b8ec9fc3","name":"Get Job1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1034273435,"mode":"list","cachedResultName":"Lcb","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1034273435"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[100,800],"id":"0a812f66-0304-43b6-b1a2-b9884ae9cf62","name":"Get Job2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":766741920,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=766741920"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}"},"matchingColumns":["unique emails"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brevo SEND","displayName":"Brevo SEND","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gmail SEND","displayName":"gmail SEND","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DEBOUNCED","displayName":"DEBOUNCED","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1860,520],"id":"0f325575-c044-4ef5-891d-28b3bf323a38","name":"Add emails to Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,520],"id":"a76cde8f-cb06-4b37-b68a-023d4bb59849","name":"Wait1","webhookId":"55e0da31-8309-42f5-9791-05e6611138bb"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":766741920,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=766741920"},"keepFirstRow":true},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1580,300],"id":"78fb1445-fc9c-4138-b638-013a63d02743","name":"clear Sheet1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1071567355,"mode":"list","cachedResultName":"INVALID EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1071567355"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1240,900],"id":"102bb93c-3b50-43d9-9861-81dd7a065b77","name":"invalid","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a helpful assistant.Read this emails from  {{ $json.EMAIL }}","options":{"systemMessage":"=You are a helpful assistant."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1460,860],"id":"2a4517c9-9ce9-4e82-8d84-a7a527bc2bc0","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1500,1080],"id":"9a71972e-4177-4d43-b16c-d2a98b382f90","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"rNIUXebQ6eaL1bOd","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Get Fields to Google Sheet1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get Fields to Google Sheet2":{"main":[[]]},"Get Fields to Google Sheet3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"clear Sheet1","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Get Job":{"main":[[{"node":"Get Fields to Google Sheet1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"invalid","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Job","type":"main","index":0},{"node":"Get Job1","type":"main","index":0},{"node":"Get Job2","type":"main","index":0}]]},"Get Job1":{"main":[[{"node":"Get Fields to Google Sheet2","type":"main","index":0}]]},"Get Job2":{"main":[[{"node":"Get Fields to Google Sheet3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Add emails to Sheet","type":"main","index":0}]]},"clear Sheet1":{"main":[[]]},"Add emails to Sheet":{"main":[[]]},"invalid":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[147]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23df33bd-a6f1-4ab9-861d-47c78a88e037","triggerCount":1,"tags":[]}