email-extractor-QEeEMNWSqAw3NKEa.json
{"createdAt":"2025-05-26T15:24:08.607Z","updatedAt":"2025-05-29T23:34:01.582Z","id":"QEeEMNWSqAw3NKEa","name":"Email extractor","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"EMAIL","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,300],"id":"b8a2d081-ccf0-4dfa-b1ab-58eca24c70bd","name":"Get Fields to Google Sheet1"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"EMAIL","value":"={{ $json.emal }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,500],"id":"44705ffb-b7d3-42f1-97ed-052e6704de92","name":"Get Fields to Google Sheet2"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"EMAIL","value":"={{ $json.emal }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,700],"id":"6799ef4b-ef0f-49a8-bc29-35c4cb73b069","name":"Get Fields to Google Sheet3"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[700,460],"id":"5caa5172-79dd-488b-98e7-c48539e88c9c","name":"Merge"},{"parameters":{"fieldToSplitOut":"EMAIL","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1360,520],"id":"2275f8b1-44be-418c-b22f-2f52b73c4561","name":"Split Out2"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"EMAIL","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[920,500],"id":"beffcc0f-cc72-4dc7-9e51-b1febc5fcd00","name":"Remove Duplicates1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1140,500],"id":"de1e6cdf-ccf0-43af-b48f-f133e5d81361","name":"Aggregate4"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":808347160,"mode":"list","cachedResultName":"vladi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=808347160"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[100,440],"id":"648354c5-e97f-4b5d-936f-c25f4949ebfb","name":"Get Job","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-820,500],"id":"b31f8730-91fc-4980-acdc-dfc8246d3a86","name":"Schedule Trigger1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-260,460],"id":"6a1caa2e-652c-404e-a869-a0514447e042","name":"Wait","webhookId":"55e0da31-8309-42f5-9791-05e6611138bb"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[100,620],"id":"f0cbc5c5-142e-409e-b48c-49b6b8ec9fc3","name":"Get Job1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1034273435,"mode":"list","cachedResultName":"Lcb","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1034273435"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[100,800],"id":"0a812f66-0304-43b6-b1a2-b9884ae9cf62","name":"Get Job2","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":766741920,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=766741920"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.EMAIL }}"},"matchingColumns":["unique emails"],"schema":[{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brevo SEND","displayName":"Brevo SEND","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"gmail SEND","displayName":"gmail SEND","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DEBOUNCED","displayName":"DEBOUNCED","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1860,520],"id":"0f325575-c044-4ef5-891d-28b3bf323a38","name":"Add emails to Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,520],"id":"a76cde8f-cb06-4b37-b68a-023d4bb59849","name":"Wait1","webhookId":"55e0da31-8309-42f5-9791-05e6611138bb"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":766741920,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=766741920"},"keepFirstRow":true},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1580,300],"id":"78fb1445-fc9c-4138-b638-013a63d02743","name":"clear Sheet1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1886353436,"mode":"list","cachedResultName":"TEST","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1886353436"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2260,2100],"id":"b70e5313-2e00-4478-b2dd-cd59d00a63d9","name":"Add emails to Sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1071567355,"mode":"list","cachedResultName":"INVALID EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1071567355"},"options":{}},"id":"eff03a54-1501-4900-a13d-4a630aa576a0","name":"Read Invalid Emails1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[940,1840],"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":766741920,"mode":"list","cachedResultName":"EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=766741920"},"options":{}},"id":"e2de62dd-db81-4f42-9c79-9fad6f41a5a5","name":"Read Valid Emails1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[900,2300],"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Получаваме данните от двата входа\n// const allInputs = $input.all();\nconst email_invalid = $('Get Fields to Google Sheet6').all()\nconst email_valid = $('Get Fields to Google Sheet5').all()\n\n\nconst invalid = email_invalid.map(item => item.json.INVALID);\nconst valid = email_valid.map(item => item.json.VALID);\nconst result = valid.filter(email => !invalid.includes(email));\nconst transform = result.map(item =>  ({\n    email: item\n  }));\n\n // console.log(transform)\n\n// return {json: {EMAIL: invalid}}\n\nreturn {\n  \n   transform\n  \n};\n\n"},"id":"7d536bcf-6ccc-4fa5-b3bc-a79952b146ee","name":"Filter Emails with Debug1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,2240]},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"VALID","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,2420],"id":"3bd67a29-6032-4d8c-a7ba-52dc42b73211","name":"Get Fields to Google Sheet5"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"INVALID","value":"={{ $json.EMAIL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,1940],"id":"b2224174-168f-4f4a-b97e-c364c51111b6","name":"Get Fields to Google Sheet6"},{"parameters":{"fieldToSplitOut":"transform","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1980,1940],"id":"8eed59fc-da1f-482b-b980-e6e129185aa2","name":"Split Out1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[340,1940],"id":"d2d27904-b302-400c-b56b-47f6c3d8365f","name":"When clicking ‘Test workflow’"}],"connections":{"Get Fields to Google Sheet1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get Fields to Google Sheet2":{"main":[[]]},"Get Fields to Google Sheet3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"clear Sheet1","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Get Job":{"main":[[{"node":"Get Fields to Google Sheet1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Job","type":"main","index":0},{"node":"Get Job1","type":"main","index":0},{"node":"Get Job2","type":"main","index":0}]]},"Get Job1":{"main":[[{"node":"Get Fields to Google Sheet2","type":"main","index":0}]]},"Get Job2":{"main":[[{"node":"Get Fields to Google Sheet3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Add emails to Sheet","type":"main","index":0}]]},"clear Sheet1":{"main":[[]]},"Add emails to Sheet":{"main":[[]]},"Read Invalid Emails1":{"main":[[{"node":"Get Fields to Google Sheet6","type":"main","index":0}]]},"Read Valid Emails1":{"main":[[{"node":"Get Fields to Google Sheet5","type":"main","index":0}]]},"Filter Emails with Debug1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Fields to Google Sheet5":{"main":[[{"node":"Filter Emails with Debug1","type":"main","index":0}]]},"Get Fields to Google Sheet6":{"main":[[{"node":"Read Valid Emails1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Add emails to Sheet1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Read Invalid Emails1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[147]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6649f23b-bcad-40ca-ab95-fe0018c23a84","triggerCount":1,"tags":[]}