gmail-sender-tg5kHxcCW4N7YQQi.json
{"createdAt":"2025-05-25T22:26:24.557Z","updatedAt":"2025-05-29T11:30:33.527Z","id":"tg5kHxcCW4N7YQQi","name":"GMAIL SENDER","active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"kostadindraganov@gmail.com","subject":"Want Exposure to 30K+ Players?","message":"={{ $json.html }}","options":{"appendAttribution":false,"ccList":"koki_pz@abv.bg","senderName":"Jakob Gamblementor"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-440,320],"id":"397d3867-0d0d-4efb-b5d0-e75f82a70020","name":"Gmail","webhookId":"f6a09150-3615-407a-8702-32abafba6742","alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"se1z8OKVPQ1fR1o1","name":"gmblnetwork@gmail.com"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>GambleMentor Email</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f4f4f7;\n    margin: 0;\n    padding: 20px;\n    color: #333;\n  }\n  .container {\n    max-width: 600px;\n    background-color: #ffffff;\n    padding: 50px;\n    margin: 0 auto;\n    border-radius: 10px;\n    box-shadow: 0 4px 20px rgba(0,0,0,0.1);\n    border-top: 8px solid #34a853; /* Green accent border */\n  }\n  h1 {\n    color: #2b6cb0;\n    font-size: 36px;\n    display: flex;\n    align-items: center;\n  }\n  h1 svg {\n    width: 40px;\n    height: 40px;\n    margin-right: 12px;\n    fill: #34a853; /* Green icon */\n  }\n  p {\n    line-height: 2;\n    font-size: 24px;\n  }\n  .highlight {\n    color: #34a853;\n    font-weight: bold;\n    text-decoration: none;\n  }\n  .cta-button {\n    display: inline-block;\n    margin-top: 30px;\n    padding: 18px 36px;\n    background-color: #34a853; /* Green background */\n    color: #ffffff !important; /* White text */\n    text-decoration: none;\n    border-radius: 8px;\n    font-size: 24px;\n    font-weight: bold;\n    text-align: center;\n  }\n  .cta-button:hover {\n    background-color: #2c8b47; /* Darker green on hover */\n  }\n  .signature {\n    margin-top: 45px;\n    font-size: 20px;\n    color: #555;\n  }\n  .contact-info {\n    margin-top: 15px;\n  }\n  .emoji {\n    font-size: 28px;\n    margin-right: 8px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>\n      <svg viewBox=\"0 0 24 24\"><path d=\"M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10\n        10-4.48 10-10S17.52 2 12 2zm1 17.93c-2.39.49-4.78-.31-6.51-2.05-1.73-1.73-2.54-4.12-2.05-6.51.36-1.74 1.24-3.3\n        2.43-4.49C8.7 5.24 10.24 4.36 12 4c2.39-.49 4.78.31 6.51 2.05 1.73 1.73 2.54 4.12 2.05 6.51-.36 1.74-1.24\n        3.3-2.43 4.49-1.19 1.19-2.75 2.07-4.49 2.43z\"/></svg>\n      Hey Team,\n    </h1>\n\n    <p><span class=\"emoji\">🎰</span> Traditional, crypto, and sweepstakes casinos are booming — but breaking through the noise is tough. We built <a href=\"http://gamblementor.com/\" class=\"highlight\">GambleMentor Network</a> to solve exactly that.</p>\n    <p><span class=\"emoji\">💎</span> Our crypto-friendly casino/sweepstakes network spans <strong class=\"highlight\">20+ sites</strong> and delivers <strong class=\"highlight\">1M+ monthly views</strong> and <strong class=\"highlight\">30K+ FTD email reach</strong>.</p>\n    <p><span class=\"emoji\">🎲</span> We’ve helped dozens of brands get cost-effective exposure — starting at just <strong class=\"highlight\">$500</strong>.</p>\n    <a href=\"https://drive.google.com/file/d/19A7OerwjL3igTGAy2GJlk-EvYKhzA6ol/view\" class=\"cta-button\">See pricing and placements</a>\n    <p><span class=\"emoji\">🚀</span> Want to be featured this month? Let’s make it happen.</p>\n\n    <div class=\"signature\">\n      <p><strong>Best,</strong><br><br>\n      <strong>Vladimir Ninov, MBA</strong><br>\n      Chief Sales Officer, GambleMentor</p>\n      <p class=\"contact-info\">\n        📧 <a href=\"mailto:sales@gamblementor.com\">sales@gamblementor.com</a><br>\n        💬 Telegram: <a href=\"https://t.me/VladCrypto23\">@VladCrypto23</a><br>\n        📞 WhatsApp/Viber/Tel: <a href=\"tel:+359879316777\">+359 879316777</a>\n      </p>\n    </div>\n  </div>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-680,380],"id":"17b73dd3-5016-4635-b38d-7327f71ea4e6","name":"HTML"},{"parameters":{"httpMethod":"POST","path":"e26a4b1d-c7ed-4a65-8d61-ff3d17d198103","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1540,-60],"id":"53cd86bc-0a18-4a49-a68f-3524d811ac41","name":"Webhook","webhookId":"e26a4b1d-c7ed-4a65-8d61-ff3d17d19810","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.range.columnStart }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"512f7d73-542c-428a-ab82-d2dbdf11fb7f","leftValue":"={{ $json.body.range.columnStart }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b03b7337-434a-4f1e-babb-128f347bc444","leftValue":"={{ $json.body.range.columnStart }}","rightValue":9,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1060,-80],"id":"8a58c6a0-f97f-4a72-98e9-a9fd9b0d6475","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c15ef578-470c-4fba-afb1-7cc20905e49e","leftValue":"={{ $json.body.value }}","rightValue":"TRUE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1300,-80],"id":"21d989e2-0237-488f-ab0e-8bef1b858a02","name":"Filter"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/hooks/6Jwyv0H9PIQbm8a1APCN/webhook-trigger/d6714a8f-0e46-4e4d-87a0-ce2bf3f2583a","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.body.rowValues[0][\"2\"] }}"},{"name":"package","value":"={{ $json.body.rowValues[0][\"11\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-840,40],"id":"15b4ac2e-a133-42ed-815a-507545e3f894","name":"HTTP Request"},{"parameters":{"sendTo":"={{ $json.body.rowValues[0][\"2\"] }}","subject":"Thanks for inquiring with ABC company!","emailType":"text","message":"=Hey {{ $json.body.rowValues[0][\"0\"] }},\n\nThanks for inquiring. \n\nBest,\nJono","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-840,-200],"id":"f6a15feb-e16b-4b14-9dad-c12879426ef6","name":"Gmail1","webhookId":"bb556487-0484-438a-a1f0-0cf66f454223"},{"parameters":{"formTitle":"Quote Form","formDescription":"Get a quote","formFields":{"values":[{"fieldLabel":"First Name"},{"fieldLabel":"Last Name"},{"fieldLabel":"Email"},{"fieldLabel":"Phone"},{"fieldLabel":"Budget","fieldType":"number"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-320,-200],"id":"e9711940-3f63-4306-bea8-2bfbcb898056","name":"On form submission","webhookId":"3709b808-3e72-40d6-96f9-f9f7a32f627c","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw","mode":"list","cachedResultName":"n8n Custom Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}","First Name":"={{ $json[\"First Name\"] }}","Budget":"={{ $json.Budget }}","Phone":"={{ $json.Phone }}","Last Name":"={{ $json[\"Last Name\"] }}","Date":"={{ $json.submittedAt }}","Rejected":"={{ $if($json.Budget >= 1000, \"FALSE\", \"TRUE\") }}","Stage":"Lead"},"matchingColumns":["Email"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rejected","displayName":"Rejected","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Email","displayName":"Send Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Calendar","displayName":"Send Calendar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Invoice","displayName":"Send Invoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Pricing","displayName":"Send Pricing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Package","displayName":"Package","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,-200],"id":"02139eda-36aa-4cfd-8352-c7a06b1a7f99","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"formTitle":"Sales Call","formDescription":"Sales call form","formFields":{"values":[{"fieldLabel":"First Name"},{"fieldLabel":"Last Name"},{"fieldLabel":"Email"},{"fieldLabel":"Phone"},{"fieldLabel":"Package"},{"fieldLabel":"Service Date","fieldType":"date"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-320,80],"id":"936d3962-daa2-44b5-96a8-bfcf2b8f1537","name":"On form submission1","webhookId":"ea775705-79e4-4c28-ae27-7e0ab196767f","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw","mode":"list","cachedResultName":"n8n Custom Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}","First Name":"={{ $json[\"First Name\"] }}","Budget":"=","Phone":"={{ $json.Phone }}","Last Name":"={{ $json[\"Last Name\"] }}","Date":"={{ $json.submittedAt }}","Rejected":"={{ $if($json.Budget >= 1000, \"FALSE\", \"TRUE\") }}","Stage":"Sales Call","Package":"={{ $json.Package }}"},"matchingColumns":["Email"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rejected","displayName":"Rejected","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Email","displayName":"Send Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Calendar","displayName":"Send Calendar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Invoice","displayName":"Send Invoice","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Send Pricing","displayName":"Send Pricing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Package","displayName":"Package","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,80],"id":"014e6245-8708-4da9-ba32-f539bfad72d9","name":"Google Sheets1"}],"connections":{"Gmail":{"main":[[]]},"HTML":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Webhook":{"main":[[]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gmail1","type":"main","index":0}],[],[{"node":"HTTP Request","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"jonocatliff.app.n8n.cloud","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd_I7eaFwcEmykTS2IkPd7NY8uTzIg)","content-length":"525","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"107.178.203.97","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"9279cb4bb4d12edd-SEA","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"107.178.203.97, 172.71.147.134","x-forwarded-host":"jonocatliff.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-32-7487c6b997-gc8kf","x-is-trusted":"yes","x-real-ip":"107.178.203.97"},"params":{},"query":{},"body":{"spreadsheetId":"1T-OYuge_YUWGv-nY372FP2HpB2jvWLKPdVwUN8c7Jrw","spreadsheetName":"n8n Custom Dashboard","sheetId":0,"sheetName":"Sheet1","rangeA1Notation":"G5","range":{"columnEnd":7,"columnStart":9,"rowEnd":5,"rowStart":5},"oldValue":"false","value":"TRUE","user":{"email":"jonocatliff@gmail.com","nickname":"jonocatliff"},"rowValues":[{"0":"Jono","1":"Catliff","2":"jccatliff@gmail.com","3":4321233333,"4":"","5":true,"6":true,"7":"","8":"","9":"","10":"Sales Call","11":"A","12":"2025-03-28T15:53:03.069-04:00","13":""}]},"webhookUrl":"https://jonocatliff.app.n8n.cloud/webhook-test/e26a4b1d-c7ed-4a65-8d61-ff3d17d198103","executionMode":"test"}}],"On form submission":[{"json":{"First Name":"Jono","Last Name":"Catliff","Email":"jccatliff@gmail.com","Phone":"5541233456","Budget":"1000","submittedAt":"2025-03-28T15:41:48.575-04:00","formMode":"test"}}],"On form submission1":[{"json":{"First Name":"Jono","Last Name":"Catliff","Email":"jccatliff@gmail.com","Phone":"4321233333","Package":"A","Service Date":"2025-03-31","submittedAt":"2025-03-28T15:53:03.069-04:00","formMode":"test"}}]},"versionId":"c6e404cf-936f-45f1-9363-5488ed6c9fdb","triggerCount":0,"tags":[]}