icb-scrapper-DPPyyqdYCgtC5TCh.json
{"createdAt":"2025-05-26T13:12:31.527Z","updatedAt":"2025-05-26T22:19:12.277Z","id":"DPPyyqdYCgtC5TCh","name":"ICB scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"90d3934f-c4e1-45ff-ae91-9d594811f622","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2140,60]},{"parameters":{"url":"https://lcb.org/sitemap/sites","options":{}},"id":"cc0f1c20-956c-4d7f-97b0-741760736477","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1940,-80]},{"parameters":{"options":{}},"id":"5bd51cbd-8d42-4b0d-987f-5308b7d9bd82","name":"XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[-1800,120]},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"id":"ddc7b268-f550-433b-ba98-16e97463120c","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1680,-80]},{"parameters":{"options":{}},"id":"1e90a932-8c6f-441e-b257-4c82db45045d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1380,220]},{"parameters":{"amount":10},"id":"0e31cfe9-d798-4589-96a9-9f7e067514af","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-920,20],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad","retryOnFail":false,"maxTries":2,"alwaysOutputData":true,"executeOnce":false},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": [\n\"{{ $json['Review link'] }}\"\n \n  ],\n  \"prompt\": \"Extract the following information about the casino from this page:   1. Casino website 2. Contact Email   Please structure the extracted information as JSON, matching the provided schema fields when possible. If a field is not available, leave it empty or omit it.\"\n \n}","options":{}},"id":"e6fa2adf-5b83-47b0-966a-7ebd1a413066","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1220,60],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"Mav8VeJxhTM4QnZ9","name":"firecrawl"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":5000}},"id":"b166ac41-9a89-463a-be2c-02c21648119f","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,20],"retryOnFail":true,"waitBetweenTries":1000,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Mav8VeJxhTM4QnZ9","name":"firecrawl"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"854418d8-5b43-49a7-aad9-4bd56d7e0464","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,20]},{"parameters":{"assignments":{"assignments":[{"id":"f2bcdb54-e1fe-4670-99aa-6eec973bf5f1","name":"id","value":"={{ $('HTTP Request1').item.json.id }}","type":"string"}]},"options":{}},"id":"24e744e6-101d-4c5c-adfb-6cc90310c31f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,220]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1034273435,"mode":"list","cachedResultName":"Lcb","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1034273435"},"columns":{"mappingMode":"defineBelow","value":{"Review link":"={{ $('Filter2').item.json['Review link'] }}","Link":"={{ $json.data.casinoWebsite }}","emal":"={{ $json.data.contactEmail }}"},"matchingColumns":["Review link"],"schema":[{"id":"Review link","displayName":"Review link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-240,-80],"id":"e2762174-cb78-4f70-8f51-d42ffd85af06","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1034273435,"mode":"list","cachedResultName":"Lcb","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1034273435"},"columns":{"mappingMode":"defineBelow","value":{"Review link":"={{ $json.loc }}"},"matchingColumns":["Review link"],"schema":[{"id":"Review link","displayName":"Review link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1600,160],"id":"cfbf2212-d71f-46e8-a16f-dc121e3f317a","name":"Google Sheets3","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54ae1e4a-ffff-48f8-b62d-783fa97c633c","leftValue":"={{ $json.Link }}","rightValue":"/online-casinos/reviews/","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"45f5d3a1-dde2-4824-8e67-a747b3a48d88","leftValue":"={{ $json.emal }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1240,-180],"id":"517355c1-5435-4ed9-80b5-0fc34bdc2f4a","name":"Filter2"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1034273435,"mode":"list","cachedResultName":"Lcb","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1034273435"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1480,-180],"id":"85e9c3dd-a330-4392-8e83-df03448a145e","name":"Google Sheets5","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.status }}","rightValue":"processing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2f976c7f-94cc-4bef-a20e-b735b4920fdc","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,240]},{"parameters":{"rule":{"interval":[{"daysInterval":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2260,-80],"id":"73ee517e-76b6-4349-b980-289f80101518","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}],[]]},"HTTP Request2":{"main":[[{"node":"If","type":"main","index":0},{"node":"If2","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Google Sheets4","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[147]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a899f347-5660-43fa-b632-e97aead1bc26","triggerCount":1,"tags":[]}