my-workflow-3-tg5kHxcCW4N7YQQi.json
{"createdAt":"2025-05-25T22:26:24.557Z","updatedAt":"2025-05-26T00:09:03.587Z","id":"tg5kHxcCW4N7YQQi","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,260],"id":"1f07ac16-1301-452f-bc4d-2a239548336e","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"Default","operation":"Map A Website And Get Urls","url":"https://www.askgamblers.com/","search":"/online-casinos/reviews/","requestOptions":{}},"type":"n8n-nodes-firecrawl.fireCrawl","typeVersion":1,"position":[-620,40],"id":"9e99f5c2-fb02-4680-83a5-71af61aa640e","name":"FireCrawl","executeOnce":true,"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"fireCrawlApi":{"id":"NK0IqxwbNWJk66u7","name":"FireCrawl account"}}},{"parameters":{"amount":10},"id":"d0807ff1-8c57-42a0-8a7f-7a8c81d07732","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[120,-60],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0e885b2e1d044f3caeb2a4e8f1028d66"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\":[{{ JSON.stringify($json.links) }}],\n  \"prompt\": \"Extract the following information from all pages: 1.website url 2.External casino url 3.Casino constact email .  Please structure the extracted information as JSON. Extract multiple pages and add results in array of obects.\"\n\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,-180],"id":"a4b04c75-b646-4cae-8736-ccafe2adc703","name":"HTTP Request"},{"parameters":{"url":"https://api.firecrawl.dev/v1/extract/bdfcc592-d849-4947-99f7-854228e733a7","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0e885b2e1d044f3caeb2a4e8f1028d66"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,-60],"id":"91068227-90c8-4d25-8bd7-ce621eee1430","name":"HTTP Request1"},{"parameters":{"fieldToSplitOut":" links","options":{}},"id":"2b6d896c-7faf-4417-aa9a-4ad88a72be28","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,80],"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54ae1e4a-ffff-48f8-b62d-783fa97c633c","leftValue":"={{ $json.links }}","rightValue":"/online-casinos/reviews/","operator":{"type":"string","operation":"contains"}},{"id":"b7508013-fa39-4355-9e6d-4f8e22fd02ba","leftValue":"={{ $json.links }}","rightValue":"complaints","operator":{"type":"string","operation":"notContains"}},{"id":"64348a68-3aed-48f5-808d-a3c2ba11b7d6","leftValue":"={{ $json.links }}","rightValue":"bonuses","operator":{"type":"string","operation":"notContains"}},{"id":"9d2beffa-6f89-4a99-9624-5ed322d95622","leftValue":"={{ $json.links }}","rightValue":"9","operator":{"type":"string","operation":"notEndsWith"}},{"id":"b84aec50-a98c-46e7-9555-285040b12ecf","leftValue":"={{ $json.links }}","rightValue":"47","operator":{"type":"string","operation":"notEndsWith"}},{"id":"1269a71f-2ff3-4415-b7e0-455b9079b572","leftValue":"={{ $json.links }}","rightValue":"29","operator":{"type":"string","operation":"notEndsWith"}},{"id":"a71d906e-6887-41c2-b48a-9aa7340281ed","leftValue":"={{ $json.links }}","rightValue":"88","operator":{"type":"string","operation":"notEndsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-260,-20],"id":"a6f39716-ffc9-460b-be7a-e51dc2441222","name":"Filter1"},{"parameters":{},"id":"7be5d665-a3d9-49b5-b67b-12289d5732c5","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[440,540],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"url":"=https://crawl4ai.okgamblers.com/task/{{ $json.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"instruction","value":"Extract only contact email"}]},"options":{"timeout":5000}},"id":"905a3fd6-7843-4e0a-9365-1d59929d0f5c","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,540],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"y6uzgcuT5u03eKhq","name":"Crow4ai"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f6c8eb92-7ba2-4c9f-8890-61be2bb9d587","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,540]},{"parameters":{"assignments":{"assignments":[{"id":"f2bcdb54-e1fe-4670-99aa-6eec973bf5f1","name":"task_id","value":"={{ $('HTTP Request3').item.json.task_id }}","type":"string"}]},"options":{}},"id":"85eea448-0fb6-46dc-84a8-02b1d0ca0a0e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,740]},{"parameters":{"method":"POST","url":"https://crawl4ai.okgamblers.com/crawl","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"urls","value":"={{ $json.links }}"},{"name":"priority","value":"10"}]},"options":{}},"id":"5b8df5a8-eafb-45d0-9f37-775924cfec5d","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,540],"credentials":{"httpHeaderAuth":{"id":"y6uzgcuT5u03eKhq","name":"Crow4ai"}}},{"parameters":{"options":{}},"id":"bb2bc66b-6aa4-40ea-bbff-90357553bcd1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[20,540]},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":"Sheet1","options":{}},"id":"f5fe92d5-05ee-40f5-b8b9-3961b3360e6d","name":"Read Google Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[540,100],"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get the item to check from manual input\nconst newItem = $input.first().json.item_name;\n\n// Get existing sheet data\nconst sheetNode = $('Read Google Sheet');\nconst sheetData = sheetNode.all();\n\n// Extract existing items from sheet\nlet existingItems = [];\nif (sheetData.length > 0 && sheetData[0].json.values) {\n  existingItems = sheetData[0].json.values.flat().filter(item => item !== '');\n}\n\nconsole.log('New item:', newItem);\nconsole.log('Existing items:', existingItems);\n\n// Check if item exists (case-insensitive)\nconst itemExists = existingItems.some(item => \n  item.toString().toLowerCase() === newItem.toString().toLowerCase()\n);\n\nif (itemExists) {\n  // Item exists - return skip action\n  return [{\n    json: {\n      action: 'skip',\n      message: `Item '${newItem}' already exists in the sheet`,\n      item: newItem,\n      exists: true\n    }\n  }];\n} else {\n  // Item doesn't exist - return add action\n  return [{\n    json: {\n      action: 'add',\n      message: `Item '${newItem}' will be added to the sheet`,\n      item: newItem,\n      exists: false\n    }\n  }];\n}"},"id":"c920922c-9033-42f9-a6ae-94c7accd2cf3","name":"Check Item Exists","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8","leftValue":"={{ $json.action }}","rightValue":"add","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0a213d63-e0d3-4206-a54d-63016c314e46","name":"Should Add Item?","type":"n8n-nodes-base.if","typeVersion":2,"position":[980,100]},{"parameters":{"operation":"append","documentId":"YOUR_GOOGLE_SHEET_ID","sheetName":"Sheet1","columns":{"mappingMode":"defineBelow","value":{"A":"={{ $('Check Item Exists').first().json.item }}"}},"options":{}},"id":"5fe2f4c1-2888-4fb6-a143-81c1143cfa71","name":"Add Item to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1200,0]},{"parameters":{"options":{}},"id":"3c41c51f-bc0a-4643-b908-249bfb80e79f","name":"Item Already Exists","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1320,320]},{"parameters":{"options":{}},"id":"1d1561c4-4a22-4dfc-8a4f-ceaf02e571a8","name":"Success Response","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1420,0]}],"connections":{"When clicking ‘Test workflow’":{"main":[[]]},"FireCrawl":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request3","type":"main","index":0}]]},"Read Google Sheet":{"main":[[{"node":"Check Item Exists","type":"main","index":0}]]},"Check Item Exists":{"main":[[{"node":"Should Add Item?","type":"main","index":0}]]},"Should Add Item?":{"main":[[{"node":"Add Item to Sheet","type":"main","index":0}],[{"node":"Item Already Exists","type":"main","index":0}]]},"Add Item to Sheet":{"main":[[{"node":"Success Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7462eb97-baa0-4e98-89e0-92412d2b16b0","triggerCount":0,"tags":[]}