my-workflow-2-ldDJYU432RpMsVoY.json
{"createdAt":"2025-05-25T01:33:35.293Z","updatedAt":"2025-05-25T01:44:44.555Z","id":"ldDJYU432RpMsVoY","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"eaf55d90-11b7-4114-abcc-626126979937","name":"‘Test workflow’ trigger","type":"n8n-nodes-base.manualTrigger","position":[300,300],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"d6c5ac86-6d67-42fb-96ec-9826caf452e2","name":"sitemapUrl","type":"string","value":"https://www.askgamblers.com/casino-sitemap-en-01.xml"}]},"options":{}},"id":"dfb1d7e7-aeb8-4d45-aa5a-890f3f8afb48","name":"Set sitemap URL","type":"n8n-nodes-base.set","position":[480,300],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"id":"b4c4386e-7586-4939-8f5b-4f881b915a0c","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1020,300],"typeVersion":1},{"parameters":{"url":"={{ $json.sitemapUrl }}","options":{}},"id":"7fea0332-ce9e-4578-9d9e-e500a81b788e","name":"Get Sitemap","type":"n8n-nodes-base.httpRequest","position":[660,300],"typeVersion":4.2},{"parameters":{"options":{"ignoreAttrs":true,"mergeAttrs":true,"normalize":true,"normalizeTags":true,"trim":true}},"id":"48740849-c144-48af-b387-b3d5023fc43f","name":"Convert Sitemap to JSON","type":"n8n-nodes-base.xml","position":[840,300],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0bf8e98c-b6c5-4129-852c-0d3e63f32f9f","operator":{"type":"string","operation":"endsWith"},"leftValue":"={{ $json.loc }}","rightValue":".pdf"}]},"options":{}},"id":"8b8bafae-077b-4fe8-81c7-be79753ca519","name":"Filter URLs","type":"n8n-nodes-base.filter","position":[1200,300],"typeVersion":2.2},{"parameters":{"content":"**Set your sitemap.xml\nurl here.**","height":240,"width":150,"color":6},"id":"d6eb4c84-d3c6-430b-9b06-03aca4cca0d0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[460,220],"typeVersion":1},{"parameters":{"content":"**Create your filter here.**","height":240,"width":150,"color":6},"id":"d3c5b97b-323b-4a61-bf97-5523782112d7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1180,220],"typeVersion":1},{"parameters":{"content":"## Fetch and process the sitemap.xml file\nThis part fetches and process the sitemap.xml file from XML data to JSON that we can work with.","height":300,"width":540,"color":7},"id":"8b228038-c6fd-4049-80cc-375566bf4795","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[620,180],"typeVersion":1},{"parameters":{"content":"## Sitemap.xml reader\nThis workflow reads an sitemap.xml and filters out the entries you want.\n\nBy default only PDF documents are returned at the end of the workflow.\n\n**SETUP**\n- Edit the **Set sitemap URL** block and add the url to the sitemap you want to read.\n\n- Edit the **Filter URLs** to your needs.","height":420,"width":280},"id":"adb5608e-a194-40e5-967f-f6e72a2720d1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-20,140],"typeVersion":1}],"connections":{"Split Out":{"main":[[{"node":"Filter URLs","type":"main","index":0}]]},"Get Sitemap":{"main":[[{"node":"Convert Sitemap to JSON","type":"main","index":0}]]},"Set sitemap URL":{"main":[[{"node":"Get Sitemap","type":"main","index":0}]]},"Convert Sitemap to JSON":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"‘Test workflow’ trigger":{"main":[[{"node":"Set sitemap URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1656b621-2bc3-410e-8bea-51ed25e9c613","triggerCount":0,"tags":[]}