my-workflow-3-tg5kHxcCW4N7YQQi.json
{"createdAt":"2025-05-25T22:26:24.557Z","updatedAt":"2025-05-27T00:14:50.721Z","id":"tg5kHxcCW4N7YQQi","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-840,220],"id":"1f07ac16-1301-452f-bc4d-2a239548336e","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1VCYWsQOUCBEua6gPTfN35iuDeTK_pjsr8f3q0pmMZD4","mode":"list","cachedResultName":"blog_ai","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCYWsQOUCBEua6gPTfN35iuDeTK_pjsr8f3q0pmMZD4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":662921279,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCYWsQOUCBEua6gPTfN35iuDeTK_pjsr8f3q0pmMZD4/edit#gid=662921279"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-620,220],"id":"d68d27d2-4a51-4b35-b690-844725e9854b","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"kostadindraganov","mode":"list","cachedResultName":"kostadindraganov","cachedResultUrl":"https://github.com/kostadindraganov"},"repository":{"__rl":true,"value":"n8n-backup-workflows","mode":"list","cachedResultName":"n8n-backup-workflows","cachedResultUrl":"https://github.com/kostadindraganov/n8n-backup-workflows"},"filePath":"{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $json['Blog Title'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-400,220],"id":"30c66831-aec8-4f05-bb07-7d8d6e98d43e","name":"GitHub","webhookId":"f6215fe1-49ca-415d-99f3-cb5e39245f08","credentials":{"githubApi":{"id":"AZKERoT25g0e4nw8","name":"GitHub account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae0bb305-538a-4ca8-8bcc-dfe5f5787f8f","triggerCount":0,"tags":[]}