online.casino-scrapper-HwtO4FiZ1t7mlGSR.json
{"createdAt":"2025-05-27T18:39:13.136Z","updatedAt":"2025-05-29T13:48:00.119Z","id":"HwtO4FiZ1t7mlGSR","name":"online.casino scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"4896714f-3784-4242-a88d-459cd4a2c0e2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2760,80]},{"parameters":{"url":"https://online.casino/oc_casinoreview-sitemap.xml","options":{}},"id":"be39e3f3-f077-472c-a9e7-ba992b3cc96f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2500,-80]},{"parameters":{"options":{}},"id":"2ef36fa8-26ba-4a7e-aaf8-512359763626","name":"XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[-2340,-80]},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"id":"0e5bddf4-fbd2-48ea-9809-74068ef4e46c","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2180,-80]},{"parameters":{"options":{}},"id":"42dbbdb9-8753-4e23-b210-bc3a91a84cd1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1420,-80]},{"parameters":{"amount":12},"id":"9464a0aa-79ac-49b9-b549-c8522a17a911","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1000,-180],"webhookId":"feda773e-eb5d-4987-abd4-40fc22eba3e1","retryOnFail":false,"maxTries":2,"alwaysOutputData":true,"executeOnce":false},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-ae686f0b5aa346979f86710da19bcdbe"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": [\n\"{{ $json['Review link'] }}\"\n \n  ],\n  \"prompt\": \"Extract the following information about the casino from this page:   1. Casino website 2. Contact Email   Please structure the extracted information as JSON, matching the provided schema fields when possible. If a field is not available, leave it empty or omit it.\"\n \n}","options":{}},"id":"792d5793-bf84-4890-833c-7412974ab6eb","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,-400],"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-ae686f0b5aa346979f86710da19bcdbe"}]},"options":{"timeout":5000}},"id":"6976bc2c-1798-4e81-8d18-a0d9a57b5aa7","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,-400],"retryOnFail":true,"waitBetweenTries":1000,"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"42343197-d7bd-4bd3-8dec-a6be13e6c88e","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,-160]},{"parameters":{"assignments":{"assignments":[{"id":"f2bcdb54-e1fe-4670-99aa-6eec973bf5f1","name":"id","value":"={{ $('HTTP Request1').item.json.id }}","type":"string"}]},"options":{}},"id":"186c1677-6026-481b-b3e0-6cd5aadcbd88","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,220]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":818770654,"mode":"list","cachedResultName":"online.casino","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=818770654"},"columns":{"mappingMode":"defineBelow","value":{"Review link":"={{ $('Filter2').item.json['Review link'] }}","Link":"={{ $json.data.casinoWebsite }}","emal":"={{ $json.data.contactEmail }}","date":"={{ $json.expiresAt }}"},"matchingColumns":["Review link"],"schema":[{"id":"Review link","displayName":"Review link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-120,-100],"id":"63ef0679-4bba-4cf5-960f-02e0bc3f8e5b","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":818770654,"mode":"list","cachedResultName":"online.casino","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=818770654"},"columns":{"mappingMode":"defineBelow","value":{"Review link":"={{ $json.loc }}"},"matchingColumns":["Review link"],"schema":[{"id":"Review link","displayName":"Review link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1980,-60],"id":"0c2ebfed-896c-41b8-88a9-9dcd96f00592","name":"Google Sheets3","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54ae1e4a-ffff-48f8-b62d-783fa97c633c","leftValue":"={{ $json.Link }}","rightValue":"/online-casinos/reviews/","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"45f5d3a1-dde2-4824-8e67-a747b3a48d88","leftValue":"={{ $json.emal }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1640,-80],"id":"ac77db1c-5555-4ec4-abb0-56d3bf8119b2","name":"Filter2"},{"parameters":{"documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":818770654,"mode":"list","cachedResultName":"online.casino","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=818770654"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1800,-80],"id":"71e7c2fd-b2a5-49b5-9539-8c776e13868a","name":"Google Sheets5","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2740,-80],"id":"efc4d067-d4bf-4168-8623-83f09d32f564","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-1900,-360],"id":"87b40476-7030-4f5c-8620-1c42efacebcf","name":"Execution Data"},{"parameters":{"url":"https://verify-email-pro.p.rapidapi.com/check","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"support@lightcasino.com"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"verify-email-pro.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"1c09348b7fmshc139bd752a48ac4p1323ecjsn966e5b9695d7"}]},"options":{}},"id":"8021c0d5-5e09-4797-84d4-bc92ffe725eb","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[80,-280],"alwaysOutputData":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I","mode":"list","cachedResultName":"askgamblers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1071567355,"mode":"list","cachedResultName":"INVALID EMAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nbvLGg168OFmdp8gt7BtrO7wGEBiPd6CcNqxcXM0p7I/edit#gid=1071567355"},"columns":{"mappingMode":"defineBelow","value":{"emal":"={{ $json.email }}"},"matchingColumns":["emal"],"schema":[{"id":"emal","displayName":"emal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[780,-280],"id":"ac0acbc9-2574-4728-a112-19ec3fcff349","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.domain_valid }}","rightValue":"completed","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c943ffb5-088f-46de-8f68-eb13a249cc35","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,-280]},{"parameters":{"amount":3},"id":"7aed7834-6835-4c43-88db-45e13f7c7e75","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[300,-280],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad","retryOnFail":false,"maxTries":2,"alwaysOutputData":false,"executeOnce":false},{"parameters":{"values":{"string":[{"name":"email","value":"={{(function() {\n  var input = $('HTTP Request2').item.json.data.contactEmail;\n  return input.split(',')[0].trim();\n})()}}"}]},"options":{}},"name":"ExtractFirstItem","type":"n8n-nodes-base.set","typeVersion":2,"position":[-300,-200],"id":"bd680bb4-f11d-4d72-9277-0b76c24991e2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}],[]]},"HTTP Request2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"ExtractFirstItem","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execution Data":{"main":[[]]},"HTTP Request4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If1","type":"main","index":0}]]},"ExtractFirstItem":{"main":[[{"node":"Google Sheets4","type":"main","index":0},{"node":"HTTP Request4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d067df68-235f-47e3-9fc6-c54d82436972","triggerCount":1,"tags":[{"createdAt":"2025-05-22T12:29:35.226Z","updatedAt":"2025-05-22T12:29:35.226Z","id":"GPfxMv7iZMZ27Xvu","name":"marketing-automation"}]}