seo-masterclass-gAkZMLqoDteWGmKz.json
{"createdAt":"2025-05-24T22:38:11.532Z","updatedAt":"2025-05-24T22:45:12.146Z","id":"gAkZMLqoDteWGmKz","name":"SEO Masterclass","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"keyword\": \"{{ $('Get Job').item.json[\"Primary Keywords\"] }}\",\n    \"location_name\": \"{{ $('Get Job').item.json[\"Location Name\"] }}\",\n    \"language_name\": \"{{ $('Get Job').item.json[\"Language Name\"] }}\",\n    \"depth\": 3,\n    \"include_seed_keyword\": false,\n    \"include_serp_info\": false,\n    \"ignore_synonyms\": false,\n    \"include_clickstream_data\": false,\n    \"replace_with_core_keyword\": false,\n    \"limit\": 100\n  }\n]","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,200],"id":"f5d1eaea-50ee-4cb2-91bd-2ee301b91c46","name":"Get Related Keywords"},{"parameters":{"fieldToSplitOut":"tasks[0].result[0].items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,200],"id":"c33c3575-7680-49da-8b7c-3789e4a591a6","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"Primary Keyword","value":"={{ $('Get Job').item.json[\"Primary Keywords\"] }}","type":"string"},{"id":"35581e6b-ff65-48a5-8130-b9e072e0e2a8","name":"Keyword Difficulty","value":"={{ $json.keyword_data.keyword_properties.keyword_difficulty }}","type":"string"},{"id":"7c58b3aa-76a7-42d6-96af-1e5b5607ab04","name":"Search Intent","value":"={{ $json.keyword_data.search_intent_info.main_intent }}","type":"string"},{"id":"98178af0-11e6-4eab-837a-cbc233afc321","name":"Related Keywords","value":"={{ $json.keyword_data.keyword }}","type":"string"},{"id":"0839f6af-0093-4ee6-a1be-30c5faec7742","name":"Last Updated","value":"={{ $json.keyword_data.keyword_info.last_updated_time }}","type":"string"},{"id":"95b0bbf9-395b-491c-a8de-27a3c9dbadd1","name":"SERP Analysis","value":"={{ $json.keyword_data.serp_info.serp_item_types.join(\",\") }}","type":"string"},{"id":"0d3035c6-5ad5-4db9-850c-e85edef8622d","name":"People Also Ask","value":"={{ $json.related_keywords.join(\",\") }}","type":"string"},{"id":"edd12466-0d0a-4ac5-93f9-1ce0ef88da08","name":"Search Volume","value":"={{ $json.keyword_data.keyword_info.search_volume }}","type":"string"},{"id":"a12dc5a8-1ab8-4a82-b0ba-4d73ce9d2ce7","name":"CPC","value":"={{ $json.keyword_data.keyword_info.cpc }}","type":"string"},{"id":"3f1ef1a3-ac8b-4a91-8254-2e09ffa21814","name":"Competition","value":"={{ $json.keyword_data.keyword_info.competition * 100 }}","type":"string"},{"id":"d4fd434d-1af6-4409-be17-e32da0dabf47","name":"Type","value":"related_keywords","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,200],"id":"ac6a54ec-c3de-440b-a2b1-d3574ec6839d","name":"Get Fields to Google Sheet"},{"parameters":{"fieldToSplitOut":"tasks[0].result[0].items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,400],"id":"e0fd44d0-0df7-430f-ad9d-ffaf20d52ac5","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"Primary Keyword","value":"={{ $('Get Job').item.json[\"Primary Keywords\"] }}","type":"string"},{"id":"7c58b3aa-76a7-42d6-96af-1e5b5607ab04","name":"Search Intent","value":"={{ $json.search_intent_info.main_intent }}","type":"string"},{"id":"0839f6af-0093-4ee6-a1be-30c5faec7742","name":"Last Updated","value":"={{ $json.search_intent_info.last_updated_time }}","type":"string"},{"id":"95b0bbf9-395b-491c-a8de-27a3c9dbadd1","name":"SERP Analysis","value":"={{ $json.keyword_data.serp_info.serp_item_types.join(\",\") }}","type":"string"},{"id":"edd12466-0d0a-4ac5-93f9-1ce0ef88da08","name":"Search Volume","value":"={{ $json.keyword_info.search_volume }}","type":"string"},{"id":"a12dc5a8-1ab8-4a82-b0ba-4d73ce9d2ce7","name":"CPC","value":"={{ $json.keyword_info.cpc }}","type":"string"},{"id":"3f1ef1a3-ac8b-4a91-8254-2e09ffa21814","name":"Competition","value":"={{ $json.keyword_info.competition * 100 }}","type":"string"},{"id":"d4fd434d-1af6-4409-be17-e32da0dabf47","name":"Type","value":"keyword_suggestions","type":"string"},{"id":"4352b3a7-2367-4de7-b9d9-d5eb6f38c21e","name":"Related Keywords","value":"={{ $json.keyword }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,400],"id":"8c4ea75c-af57-40b1-b1de-08be5f2f574d","name":"Get Fields to Google Sheet1"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"keyword\": \"{{ $('Get Job').item.json[\"Primary Keywords\"] }}\",\n    \"location_name\": \"{{ $('Get Job').item.json[\"Location Name\"] }}\",\n    \"language_name\": \"{{ $('Get Job').item.json[\"Language Name\"] }}\",\n    \"include_seed_keyword\": false,\n    \"include_serp_info\": false,\n    \"ignore_synonyms\": false,\n    \"include_clickstream_data\": false,\n    \"exact_match\": false,\n    \"limit\": 100\n  }\n] ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,400],"id":"4d61e44e-4776-4c52-9fd1-1a97ad686a61","name":"Get Suggested Keywords"},{"parameters":{"fieldToSplitOut":"tasks[0].result[0].items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,600],"id":"f561d3b4-c41e-4fc7-bc5c-d49af9de1a6f","name":"Split Out KW Ideas1"},{"parameters":{"fieldToSplitOut":"tasks[0].result[0].items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,800],"id":"a9fed531-421c-4d16-9494-aee58897ca75","name":"Split Out Autocomplete1"},{"parameters":{"fieldToSplitOut":"tasks[0].result[0].sub_topics","options":{"destinationFieldName":"sub_topics"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,1000],"id":"c5867fa6-6600-4176-8708-d7eb0238df5e","name":"Split Out Subtopics1"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"keywords\": [\n      \"{{ $('Get Job').item.json[\"Primary Keywords\"] }}\"\n    ],\n    \"location_name\": \"{{ $('Get Job').item.json[\"Location Name\"] }}\",\n    \"language_name\": \"{{ $('Get Job').item.json[\"Language Name\"] }}\",\n    \"include_serp_info\": false,\n    \"closely_variants\": false,\n    \"ignore_synonyms\": false,\n    \"include_clickstream_data\": false,\n    \"limit\": 100\n  }\n]","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,600],"id":"aba936c8-ad4d-4090-9f80-f5f3dfc1978d","name":"Get Keyword Ideas"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/serp/google/autocomplete/live/advanced","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{\n        \"keyword\": \"{{ $('Get Job').item.json[\"Primary Keywords\"] }}\",\n    \"location_name\": \"{{ $('Get Job').item.json[\"Location Name\"] }}\",\n    \"language_name\": \"{{ $('Get Job').item.json[\"Language Name\"] }}\",\n        \"client\": \"gws-wiz-serp\"\n    }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,800],"id":"e17f105a-2db3-40f9-90c6-84eb32cdeb34","name":"Get Autocomplete"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/content_generation/generate_sub_topics/live","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{\n        \"topic\": \"{{ $('Get Job').item.json[\"Primary Keywords\"] }}\"\n    }]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,1000],"id":"f4ce7a6d-1b25-4117-931b-940329d6120a","name":"Get Subtopics"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"Primary Keyword","value":"={{ $('Get Job').item.json[\"Primary Keywords\"] }}","type":"string"},{"id":"7c58b3aa-76a7-42d6-96af-1e5b5607ab04","name":"Search Intent","value":"={{ $json.search_intent_info.main_intent }}","type":"string"},{"id":"0839f6af-0093-4ee6-a1be-30c5faec7742","name":"Last Updated","value":"={{ $json.keyword_info.last_updated_time }}","type":"string"},{"id":"edd12466-0d0a-4ac5-93f9-1ce0ef88da08","name":"Search Volume","value":"={{ $json.keyword_info.search_volume }}","type":"string"},{"id":"a12dc5a8-1ab8-4a82-b0ba-4d73ce9d2ce7","name":"CPC","value":"={{ $json.keyword_info.cpc }}","type":"string"},{"id":"3f1ef1a3-ac8b-4a91-8254-2e09ffa21814","name":"Competition","value":"={{ $json.keyword_info.competition * 100 }}","type":"string"},{"id":"d4fd434d-1af6-4409-be17-e32da0dabf47","name":"Type","value":"=keyword_idea","type":"string"},{"id":"4352b3a7-2367-4de7-b9d9-d5eb6f38c21e","name":"Related Keywords","value":"={{ $json.keyword }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,600],"id":"b20d0dfb-ec44-453c-8aca-ba9de9f7501b","name":"Get Fields to Google Sheet2"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"Primary Keyword","value":"={{ $('Get Job').item.json[\"Primary Keywords\"] }}","type":"string"},{"id":"d4fd434d-1af6-4409-be17-e32da0dabf47","name":"Type","value":"={{ $json.type }}","type":"string"},{"id":"4352b3a7-2367-4de7-b9d9-d5eb6f38c21e","name":"Related Keywords","value":"={{ $json.suggestion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,800],"id":"dadeb8c2-1fee-4f4f-b587-678a8666e5a5","name":"Get Fields to Google Sheet3"},{"parameters":{"assignments":{"assignments":[{"id":"9d3a356a-0ef6-4c98-93d7-a2ed5903e541","name":"Primary Keyword","value":"={{ $('Get Job').item.json[\"Primary Keywords\"] }}","type":"string"},{"id":"d4fd434d-1af6-4409-be17-e32da0dabf47","name":"Type","value":"=sub_topics","type":"string"},{"id":"4352b3a7-2367-4de7-b9d9-d5eb6f38c21e","name":"Related Keywords","value":"={{ $json.sub_topics }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,1000],"id":"ab6b79f8-cef5-4691-a16f-323828da3aab","name":"Get Fields to Google Sheet4"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1640,560],"id":"84af4a80-d5b5-49d8-b50c-50fb2f8673fe","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51584779-194d-473f-9207-0a6da5002f9a","leftValue":"={{ $json[\"Keyword Difficulty\"] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3140,700],"id":"81f37e6a-9c54-459d-9b12-2b0c639397ab","name":"Filter Missing Difficulties"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/dataforseo_labs/google/bulk_keyword_difficulty/live","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{\n  \"keywords\": \n{{ JSON.stringify($json['Related Keywords']) }},\n\"location_name\": \"{{ $('Get Job').first().json[\"Location Name\"] }}\",\n    \"language_name\": \"{{ $('Get Job').first().json[\"Language Name\"] }}\"\n}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3580,600],"id":"8b003728-7403-426d-9834-2875490d6db3","name":"Get Keywords Difficulties"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"[\"Related Keywords\"]","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2900,600],"id":"2bf7ae69-c905-4c5f-81c4-d38dfc489f51","name":"Remove Duplicates"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Related Keywords"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3360,700],"id":"69417935-33af-40ee-872b-00a8ada2df73","name":"Aggregate"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Create Google Sheets').first().json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Keyword","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword Difficulty","displayName":"Keyword Difficulty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Search Intent","displayName":"Search Intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Related Keywords","displayName":"Related Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SERP Analysis","displayName":"SERP Analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"People Also Ask","displayName":"People Also Ask","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Search Volume","displayName":"Search Volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPC","displayName":"CPC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Competition","displayName":"Competition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3360,500],"id":"71ee9151-f769-4a80-b825-d1cc291495ab","name":"Add Keyword to Sheet"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Create Google Sheets').first().json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Keyword","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Related Keywords":"={{ $json.keyword }}","Keyword Difficulty":"={{ $json.keyword_difficulty }}"},"matchingColumns":["Related Keywords"],"schema":[{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword Difficulty","displayName":"Keyword Difficulty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Search Intent","displayName":"Search Intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Related Keywords","displayName":"Related Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SERP Analysis","displayName":"SERP Analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"People Also Ask","displayName":"People Also Ask","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Search Volume","displayName":"Search Volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CPC","displayName":"CPC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Competition","displayName":"Competition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4240,600],"id":"844e6c7b-c6ce-4a8b-9075-86e8bf2f359b","name":"Google Sheets"},{"parameters":{"fieldToSplitOut":"tasks[0].result[0].items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3800,600],"id":"65603d90-db60-4af9-b0ef-327e3ca5e4ab","name":"Split Out2"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"[\"Related Keywords\"]","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1860,600],"id":"156f733c-f9e3-4f56-93c5-12c34cbc678c","name":"Remove Duplicates1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Create Google Sheets').first().json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Keyword","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Search Volume":"={{ $json.search_volume }}","Related Keywords":"={{ $json.keyword }}","CPC":"={{ $json.cpc }}","Competition":"={{ $json.competition_index }}"},"matchingColumns":["Related Keywords"],"schema":[{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword Difficulty","displayName":"Keyword Difficulty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Search Intent","displayName":"Search Intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Related Keywords","displayName":"Related Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SERP Analysis","displayName":"SERP Analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"People Also Ask","displayName":"People Also Ask","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Search Volume","displayName":"Search Volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPC","displayName":"CPC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Competition","displayName":"Competition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4020,800],"id":"108d92b8-50db-4f94-a337-b46253ddbcc6","name":"Google Sheets3"},{"parameters":{"fieldToSplitOut":"tasks[0].result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3800,800],"id":"4daeb070-7006-4cac-a316-93cc7b9afb70","name":"Split Out3"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/keywords_data/google_ads/search_volume/live","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{\n  \"keywords\": {{ JSON.stringify($json['Related Keywords']) }},\n  \"location_name\": \"{{ $('Get Job').first().json[\"Location Name\"] }}\",\n  \"language_name\": \"{{ $('Get Job').first().json[\"Language Name\"] }}\"\n}]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3580,800],"id":"366d6a25-373e-4e84-866b-0775dd89873b","name":"Get Volume"},{"parameters":{"assignments":{"assignments":[{"id":"eec9da1b-372b-430b-9b45-213b231d6413","name":"Score","value":"==0.4*H{{$itemIndex+2}}/MAX(H:H) + IF( AND(B{{$itemIndex+2}}=\"\", J{{$itemIndex+2}}=\"\"), 0, 0.4*(1 - IF(B{{$itemIndex+2}}<>\"\", B{{$itemIndex+2}}, J{{$itemIndex+2}})/100) ) + 0.2*I{{$itemIndex+2}}/MAX(I:I)","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3140,500],"id":"04b523f5-bae8-43cd-b2e1-9d92acaa74df","name":"Adding Score Field & Difficulty"},{"parameters":{"jsonSchemaExample":"[\n  \"xxx\", \"xxx\"\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2540,820],"id":"86c2b8e0-dcf5-45a6-bbb3-f4f19adbd679","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1420,1520],"id":"ac04e1a3-fd97-48a7-b0ca-b2a4e977307a","name":"Split Out5"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Get Master List').item.json['Sheet ID'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"SERP","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Content Strength","displayName":"Content Strength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Content Gaps / Weakness","displayName":"Content Gaps / Weakness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Content Goal","displayName":"Content Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target Audience","displayName":"Target Audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tone & Style","displayName":"Tone & Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword","displayName":"Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Page Title","displayName":"Page Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Meta Description","displayName":"Meta Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Word Count","displayName":"Word Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3240,1680],"id":"20e5ad71-cb79-45ce-81a3-edefc38f2c39","name":"Google Sheets5"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"aggressivePrune\": false,\n  \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n  \"clientSideMinChangePercentage\": 15,\n  \"crawlerType\": \"playwright:adaptive\",\n  \"debugLog\": false,\n  \"debugMode\": false,\n  \"expandIframes\": true,\n  \"ignoreCanonicalUrl\": false,\n  \"keepUrlFragments\": false,\n  \"maxCrawlDepth\": 0,\n  \"proxyConfiguration\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\n      \"RESIDENTIAL\"\n    ],\n    \"apifyProxyCountry\": \"US\"\n  },\n  \"readableTextCharThreshold\": 100,\n  \"removeCookieWarnings\": true,\n  \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n  \"renderingTypeDetectionPercentage\": 10,\n  \"respectRobotsTxtFile\": true,\n  \"saveFiles\": false,\n  \"saveHtml\": false,\n  \"saveHtmlAsFile\": false,\n  \"saveMarkdown\": true,\n  \"saveScreenshots\": false,\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.url }}\",\n      \"method\": \"GET\"\n    }\n  ],\n  \"useSitemaps\": false,\n  \"includeUrlGlobs\": [],\n  \"excludeUrlGlobs\": [],\n  \"maxCrawlPages\": 9999999,\n  \"initialConcurrency\": 0,\n  \"maxConcurrency\": 200,\n  \"initialCookies\": [],\n  \"maxSessionRotations\": 10,\n  \"maxRequestRetries\": 5,\n  \"requestTimeoutSecs\": 60,\n  \"minFileDownloadSpeedKBps\": 128,\n  \"dynamicContentWaitSecs\": 10,\n  \"waitForSelector\": \"\",\n  \"softWaitForSelector\": \"\",\n  \"maxScrollHeightPixels\": 5000,\n  \"keepElementsCssSelector\": \"\",\n  \"htmlTransformer\": \"readableText\",\n  \"maxResults\": 9999999\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,1520],"id":"be0cba58-a3d2-47af-b411-c67dfcab78d6","name":"Webpage Crawler","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n  \"contentStrength\": 72,\n  \"contentGaps\": [\n    \"No local neighborhood guides beyond hotel listings\",\n    \"Missing seasonal tips or best-times-to-visit advice\",\n    \"Lacks user-submitted photos or testimonial snippets\"\n  ],\n  \"notes\": [\n    \"Add a map of Shinjuku with pins for each hotel\",\n    \"Include a price-vs-amenities comparison table\",\n    \"Embed a short FAQ on booking best practices\"\n  ],\n  \"contentGoal\": \"Informational/Transactional – help travelers discover and book Shinjuku hotels\",\n  \"contentType\": \"Listicle (Top 10 Hotels)\",\n  \"targetAudience\": \"International and domestic travelers planning a stay in Shinjuku, from budget backpackers to luxury seekers\",\n  \"toneAndStyle\": \"Friendly, concise, authoritative; use bullet lists and callouts for quick scanning\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2480,1740],"id":"79cd949e-0666-4bc2-9f25-8fabec2f365a","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=You are a content strategist. Analyze the following article and return a JSON object EXACTLY with these keys:\n- contentStrength: a score from 0–100\n- contentGaps: an array of up to 5 missing topics or weaknesses\n- notes: editorial suggestions (bullets)\n- contentGoal: the search intent / goal of this page\n- contentType: article type (how-to, listicle, comparison, etc.)\n- targetAudience: a short persona description\n- toneAndStyle: recommended tone & style guidelines\n\nArticle Markdown:\n {{ $json.markdown }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2300,1520],"id":"b4c14b63-bc0a-4ebf-8c1e-1575a925591c","name":"Content Analysis Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1640,1520],"id":"8ded8361-98c3-4870-bcf6-d76b6aff29fb","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json['Sheet ID'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"SERP","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Keyword","lookupValue":"={{ $json['Secondary Keyword'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,2040],"id":"44bb5c7f-6e6a-4188-b8f7-e03fa8893a64","name":"Get SERP","alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[760,2040],"id":"bf083df4-fde9-4a32-b0f0-59cb92acc61b","name":"Aggregate2"},{"parameters":{"jsonSchemaExample":"{\n    \"Keyword\": \"tokyo hotels shinjuku\",\n    \"Content Goal\": \"Help travelers identify and book the ideal hotel in Shinjuku by providing detailed comparisons of amenities, location, pricing, and user reviews.\",\n    \"Content Type\": \"Listicle\",\n    \"Target Audience\": \"Travelers planning a trip to Shinjuku, Tokyo seeking accommodation options\",\n    \"Search Intent\": \"Transactional\",\n    \"Recommended Word Count\": \"1,200–1,500\",\n    \"Tone & Style\": \"Informative and engaging with a focus on clarity and ease of navigation\",\n    \"Unique Angle\": \"Combines granular amenity breakdowns, authentic user testimonials, interactive map embeds and alerts for current deals to outperform existing listicles\",\n    \"Suggested Sections\": [\n      \"H2: Top 10 Hotels in Shinjuku at a Glance\",\n      \"H3: Hotel Name • Price Range • Rating • Key Perks\"\n    ],\n    \"CTAs Needed\": \"Interactive map showing hotel locations; image gallery of each property; “Book Now” affiliate CTA buttons; comparison table\",\n    \"Linked SERP Analysis\": \"See Master SERP Analysis tab for detailed notes on top-ranking pages\",\n    \"Notes\": \"Include sections for budget, mid-range and luxury picks; plan for dynamic price updates; embed a simple booking form or affiliate link\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1160,2260],"id":"78506ed3-47c2-41fd-82fa-78eb39190a20","name":"Structured Output Parser2"},{"parameters":{"jsonSchemaExample":"{\n  \"Keyword\": \"tokyo hotels shinjuku\",\n  \"Slug\": \"top-10-hotels-shinjuku-guide-2025\",\n  \"Meta Title\": \"Top 10 Shinjuku Hotels 2025 | Ultimate Booking Guide\",\n  \"Meta Description\": \"Discover the 10 best hotels in Shinjuku with detailed reviews, amenities, maps, and current deals to book your ideal stay in Tokyo.\",\n  \"Table of Contents\": \"- [Top 10 Hotels in Shinjuku at a Glance](#top-10-hotels-in-shinjuku-at-a-glance)\\n- [In-Depth Hotel Reviews and Amenities](#in-depth-hotel-reviews-and-amenities)\\n- [How to Choose the Right Hotel](#how-to-choose-the-right-hotel)\\n- [Nearby Attractions and Accessibility](#nearby-attractions-and-accessibility)\\n- [Current Offers, Discounts & Booking Tips](#current-offers-discounts--booking-tips)\\n- [Frequently Asked Questions](#frequently-asked-questions)\",\n  \"Introduction\": \"Planning a trip to the heart of Tokyo? Shinjuku offers a perfect blend of neon-lit entertainment, serene parks, and world-class shopping. Choosing the right hotel can make or break your visit—whether you’re chasing nightlife in Kabukicho or seeking peace near Shinjuku Gyoen. In this guide, we’ve handpicked the top 10 hotels in Shinjuku for 2025, complete with amenity breakdowns, user testimonials, an interactive map, and insider booking tips to help you secure the best deal for your stay.\",\n  \"Content\": [\n    {\n      \"Title\": \"Top 10 Hotels in Shinjuku at a Glance\",\n      \"Draft\": \"| Hotel Name | Price Range (per night) | Rating (★) | Key Perks |\\n|-------------------------------------------|-------------------------|------------|-------------------------------------|\\n| HOTEL GROOVE SHINJUKU                     | $120–$200               | 4.5        | Rooftop bar, gym, free Wi-Fi        |\\n| Keio Plaza Hotel Tokyo                    | $150–$250               | 4.4        | Multiple dining options, pool       |\\n| Hotel Gracery Shinjuku                    | $100–$180               | 4.2        | Godzilla rooftop, modern rooms      |\\n| APA Hotel & Resort Nishishinjuku-Gochome  | $80–$140                | 4.0        | Onsen, compact rooms, free breakfast|\\n| Shinjuku Washington Hotel - Main Building | $110–$190               | 4.1        | Business center, subway access      |\\n| Hotel Yuni Star-Club                      | $90–$160                | 4.0        | Cozy interiors, close to Kabukicho  |\\n| Rosenheim Tokyo Shinjuku                  | $130–$220               | 4.3        | Boutique style, live music lounge   |\\n| BELLUSTAR TOKYO                           | $140–$230               | 4.4        | Panoramic city views, bar           |\\n| FLOWER TERRACE Higashi Shinjuku           | $95–$170                | 4.1        | Garden terrace, quiet location      |\\n| Hotel Pasela Living                       | $105–$185               | 4.2        | Karaoke rooms, family suites        |\",\n      \"Image Prompt\": \"Interactive map of Shinjuku showing hotel locations\",\n      \"Words\": 1000\n    },\n    {\n      \"Title\": \"In-Depth Hotel Reviews and Amenities\",\n      \"Draft\": \"HOTEL GROOVE SHINJUKU**  \\nNestled in East Shinjuku, HOTEL GROOVE features bright, music-themed rooms. Highlights include a rooftop bar with skyline views, 24/7 gym access, and complimentary high-speed Wi-Fi. Guests rave about the friendly staff and modern décor.\\n\\n**Keio Plaza Hotel Tokyo**  \\nA Shinjuku landmark since 1971, Keio Plaza offers multiple restaurants (including a Michelin-recognized French bistro), an indoor pool, and an executive lounge. Perfect for families and business travelers.\\n\\n**Hotel Gracery Shinjuku**  \\nFamous for its Godzilla head on the terrace, Gracery provides spacious rooms with blackout curtains, a 24-hour convenience store onsite, and direct access to major entertainment districts.\\n\\n*…detailed write-ups for the remaining hotels…*\",\n      \"Image Prompt\": \"Lobby of HOTEL GROOVE SHINJUKU\",\n      \"Words\": 1000\n    }\n  ],\n  \"Conclusion\": \"With its electrifying energy and endless conveniences, Shinjuku is a must-visit destination—and the right hotel sets the tone for your Tokyo adventure. Use this guide to weigh amenities, location, and deals, then book confidently knowing you’ve got insider tips on transport, attractions, and exclusive offers. Ready to pack your bags? Secure your Shinjuku stay today and experience the best of Tokyo!\",\n  \"Notes\": \"Update deals monthly; verify pricing and availability before publishing.\",\n  \"Internal Link Targets\": [\n    \"/tokyo-travel-guide\",\n    \"/japan-hotel-amenities\",\n    \"/booking-tips\"\n  ],\n  \"External References\": [\n    \"https://www.japan.travel/en/spot/1009/\",\n    \"https://www.japan-guide.com/e/e3015.html\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1580,2260],"id":"50fdff61-6cae-456e-8b37-0cd38ee1e6ec","name":"Structured Output Parser3"},{"parameters":{"title":"={{ $('Get Master List4').item.json['Meta Title'] }}","additionalFields":{"content":"={{ $json.output }}","slug":"={{ $('Get Master List4').item.json.Slug }}","status":"draft"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[4080,2600],"id":"093094eb-78d5-44fc-864f-2ec1564f753f","name":"Wordpress"},{"parameters":{"promptType":"define","text":"=You are the formatting agent, convert the following content into HTML for my WordPress post without changing any content:\n\nTitle:\n{{ $('Get Master List4').item.json['Meta Title'] }}\n\nTable of Content (should add in-page anchor link to the related section):\n{{ $('Get Master List4').item.json['Table of Contents'] }}\n\nIntroduction:\n{{ $('Get Master List4').item.json.Introduction }}\n\nContent:\n{{ JSON.stringify($json.data) }}\n\nConclusion:\n{{ $('Get Master List4').item.json.Conclusion }}\n\nFor the image, please use following format to improve the speed:\n<p class=\"attachment\" style=\"margin: 0;\">\n  <a href=\"https://primary-production-73ad.up.railway.app/wp-content/uploads/2025/05/file-37.jpeg\">\n    <img\n      loading=\"lazy\"\n      decoding=\"async\"\n      src=\"https://primary-production-73ad.up.railway.app/wp-content/uploads/2025/05/file-37.jpeg\"\n      srcset=\"\n        https://primary-production-73ad.up.railway.app/wp-content/uploads/2025/05/file-37-300x200.jpeg   300w,\n        https://primary-production-73ad.up.railway.app/wp-content/uploads/2025/05/file-37-768x512.jpeg   768w,\n        https://primary-production-73ad.up.railway.app/wp-content/uploads/2025/05/file-37-1024x683.jpeg 1024w,\n        https://primary-production-73ad.up.railway.app/wp-content/uploads/2025/05/file-37.jpeg          1254w\n      \"\n      sizes=\"100vw\"\n      alt=\"\"\n      style=\"width: 100%; height: auto; display: block;\"\n    />\n  </a>\n</p>\n\nRemember KEEP ALL THE INPUT CONTENT, DO NOT REMOVE OR REPHRASE, you are just a formatter.\nSkip title in content as we already put it in Wordpress title.\nYou should return only the content inside <body> in HTML format, now return the full article with all the sections:","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[3700,2600],"id":"4128cd6c-4175-4609-997f-46018ed45899","name":"HTML Content Agent"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Prepare an image for following blog post, you don't need to put the text in it. {{ $('Split Content').item.json.data.replaceAll(\"\\n\", \"\") }}\",\n\"model\": \"gpt-image-1\",\n\"n\": 1,\n\"size\": \"1536x1024\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,2600],"id":"447dcd45-3664-489e-9d06-32a834b14314","name":"Generate Image"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1980,2600],"id":"59f91bb5-4f92-416b-ab7d-623d159d7e26","name":"Convert to File"},{"parameters":{"method":"POST","url":"=https://primary-production-73ad.up.railway.app/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-disposition","value":"=attachment; filename={{ $binary.data.fileName }}"},{"name":"content-type","value":"={{ $binary.data.mimeType }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"37d7bfe8-4c71-4efe-a72a-3ae7268a4571","name":"Upload Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2420,2600]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"html\": \"<h1>xxx</h1>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3860,2820],"id":"c6917b49-2845-4fa2-ab2b-7396f1a5baee","name":"Structured Output Parser4"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.spreadsheetUrl }}","mode":"url"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1LtdTB6xjqumGJvdHVKecKs70U9VUeARu","mode":"list","cachedResultName":"n8n-seo-demo","cachedResultUrl":"https://drive.google.com/drive/folders/1LtdTB6xjqumGJvdHVKecKs70U9VUeARu"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,600],"id":"7d03904c-48f1-4e17-8694-af6ac6039734","name":"Move to Folder"},{"parameters":{"promptType":"define","text":"=I'm doing seo, in the following list, remove the keyword that is not related to \"{{ $('Get Job').item.json['Primary Keywords'] }}\"\n\n{{ $json['Related Keywords'] }}\n\nReturn in an array for the remaining keywords, remember don't change any words and keep case-sensitive, your json: ","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2300,600],"id":"2491d851-c239-4b10-96d4-906454182705","name":"Unrelated Keywords Filter"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Related Keywords"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2080,600],"id":"215e036d-68f2-4d3d-8c72-f1ba9b982994","name":"Aggregate4"},{"parameters":{"jsCode":"const allRecords = $('Merge').all().filter(i => \n  $input.first().json.output.includes(i.json[\"Related Keywords\"])\n)\n\nreturn allRecords;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2680,600],"id":"1f74ebc7-a410-4cee-8955-edc02752956c","name":"Map Original"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,1520],"id":"6b59bfa8-3eda-43e3-9e34-062618513a34","name":"Schedule Trigger"},{"parameters":{"resource":"spreadsheet","title":"={{ $now.format('yyyymmdd-HHmmii') }}-seo","sheetsUi":{"sheetValues":[{"title":"Keyword"},{"title":"SERP"},{"title":"Content"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,600],"id":"cf5e8493-fea4-4cef-9640-5bd5110f3726","name":"Create Google Sheets"},{"parameters":{"documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Stage"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,600],"id":"2e3dc4ad-8f23-4b3c-a6a0-371e78c7064a","name":"Get Job","credentials":{"googleSheetsOAuth2Api":{"id":"su1HCydY94hfKCul","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Stage","lookupValue":"Keywords"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,1520],"id":"34a4cb31-1ae6-4a66-8b41-f1b4eb184c76","name":"Get Master List"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/serp/google/organic/live/regular","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"=[{{ JSON.stringify($json) }}]","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,1520],"id":"ecb0b665-ca95-40ae-94e2-f45ad7b85dfd","name":"Get SERP1"},{"parameters":{"assignments":{"assignments":[{"id":"9b3d652b-239a-4d1a-9cba-cc02d93d85db","name":"keyword","value":"={{ $json['Secondary Keyword'] }}","type":"string"},{"id":"a9cc703e-dfd6-4b4b-8911-0ef55620892a","name":"location_name","value":"={{ $('Get Master List').item.json[\"Location Name\"] }}","type":"string"},{"id":"d869cee5-1ad2-4115-80fd-fd177630f267","name":"language_name","value":"={{ $('Get Master List').item.json[\"Language Name\"] }}","type":"string"},{"id":"149aeb4f-cf16-4c92-93e3-b9d069906795","name":"max_crawl_pages","value":1,"type":"number"},{"id":"0723b596-566b-45d1-b90b-eb9f6f916f83","name":"device","value":"mobile","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,1520],"id":"d2685798-1897-4667-83d1-61bdf8d0a574","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"fc534376-5b5b-424e-851b-6b645fa57a6d","name":"Keyword","value":"={{ $('Loop Over Items').item.json.keyword }}","type":"string"},{"id":"922f6117-2a6a-4145-adb5-092062272f59","name":"Content Strength","value":"={{ $json.output.contentStrength }}","type":"string"},{"id":"b83beecb-0d6e-4565-a983-797488ff1347","name":"Content Gaps / Weakness","value":"={{ $json.output.contentGaps }}","type":"string"},{"id":"2138ed6a-5ad9-4584-a907-5a7dc448c345","name":"Notes","value":"={{ $json.output.notes }}","type":"string"},{"id":"2c4b9669-3cd3-4bd7-acbf-7e01b8f6cf6b","name":"Content Goal","value":"={{ $json.output.contentGoal }}","type":"string"},{"id":"cde79843-df29-443f-b8e6-fdb74e6abcd2","name":"Target Audience","value":"={{ $json.output.targetAudience }}","type":"string"},{"id":"42dfae74-a7a7-4b51-aef4-8bfcd7b9077a","name":"Tone & Style","value":"={{ $json.output.toneAndStyle }}","type":"string"},{"id":"09ee486b-6530-49f6-85dd-bccdb8e3bc5d","name":"URL","value":"={{ $('Split Out5').item.json.url }}","type":"string"},{"id":"2f56a72a-8222-4192-a6e7-d74cd6e9306e","name":"Primary Keyword","value":"={{ $('Get Master List').first().json[\"Primary Keywords\"] }}","type":"string"},{"id":"e5406580-a862-4f87-84e0-b2b1221e519f","name":"Rank","value":"={{ $('Split Out5').item.json.rank_group }}","type":"number"},{"id":"dabe8d44-bed7-4cf0-8819-eecd9b0e9eed","name":"Page Title","value":"={{ $('Split Out5').item.json.title }}","type":"string"},{"id":"9c11039c-4ece-42e1-8b06-85cfd66ea647","name":"Meta Description","value":"={{ $('Split Out5').item.json.description }}","type":"string"},{"id":"b43173f7-5b39-4cc9-9738-fa218699fbd1","name":"Word Count","value":"={{ $('Webpage Crawler').item.json.text.trim().split(/\\s+/).filter(Boolean).length }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2680,1520],"id":"971c6a80-1b49-45d4-961b-b4cbb2e17c9b","name":"Edit Fields1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Sheet ID":"={{ $('Create Google Sheets').first().json.spreadsheetId }}","row_number":"={{ $('Get Job').first().json.row_number }}","Created At":"={{ $now.format(\"yyyy-LL-dd HH:mm:ss\") }}","Stage":"Keywords","Sheet URL":"={{ $('Create Google Sheets').first().json.spreadsheetUrl }}"},"matchingColumns":["row_number"],"schema":[{"id":"Primary Keywords","displayName":"Primary Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Location Name","displayName":"Location Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Language Name","displayName":"Language Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sheet ID","displayName":"Sheet ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sheet URL","displayName":"Sheet URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Article Count","displayName":"Article Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4240,800],"id":"10e1466e-8d13-494c-882a-82c12bb7fa6b","name":"Update Master"},{"parameters":{"assignments":{"assignments":[{"id":"a865de26-f6c7-426a-97c3-6919c867f1ce","name":"items","value":"={{ $json.tasks[0].result[0].items }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,1520],"id":"163df8ed-0545-4b2b-9e3e-2d1206b4b792","name":"Get Result"},{"parameters":{"jsCode":"return {\n  data: $input.all().map((inputItem, batchIndex) => {\n    const keyword = $(\"Edit Fields\").all()[batchIndex].json.keyword;\n    const slicedItems = inputItem.json.items.slice(0, 1);\n\n    return slicedItems.map(entry => ({\n      ...entry,\n      batchIndex,\n      keyword\n    }));\n  }).flat()\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1520],"id":"8b64bda4-9af0-4111-9dca-254fec428672","name":"Get 10 Entries from Keywords"},{"parameters":{"operation":"getAll","limit":10,"options":{"status":"publish"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[300,2600],"id":"08ba7ee9-058d-496d-b4bf-571b92021629","name":"Get Posts","alwaysOutputData":true},{"parameters":{"operation":"resize","width":1024,"height":1024,"options":{"format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2200,2600],"id":"3ba3c155-0372-4102-9b6f-43daacebe6b5","name":"Resize Image"},{"parameters":{"assignments":{"assignments":[{"id":"33192ee6-d8c3-4595-97e4-033b59607f18","name":"Post Id","value":"={{ $json.id }}","type":"number"},{"id":"ecc89d5f-e692-47cc-a235-706aad6d4ea4","name":"Post Date","value":"={{ $json.date }}","type":"string"},{"id":"14ef569f-8e0f-4ce2-97ea-55ea162fc06c","name":"Post Link","value":"={{ $json.link }}","type":"string"},{"id":"85e406a0-57c1-44d9-92ed-6d9e69e39fdd","name":"Post Content","value":"={{ $json.content.raw }}","type":"string"},{"id":"570b62c7-0111-4150-919d-c690789db673","name":"Post Slug","value":"={{ $json.slug }}","type":"string"},{"id":"290eddba-6e74-4b23-aca1-3609e06b479c","name":"Post Title","value":"={{ $json.title.raw }}","type":"string"},{"id":"802b237c-57e2-4335-8eef-da90068118e2","name":"Post Status","value":"={{ $json.status }}","type":"string"},{"id":"eba0f017-e004-4a7e-83b9-122427eadaf0","name":"Stage","value":"Published","type":"string"},{"id":"b3487057-8224-436a-a0e6-ad7280115a3a","name":"row_number","value":"={{ $('Get Master List4').first().json.row_number }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4300,2600],"id":"5e604500-ee90-4068-8ba7-742c6064939a","name":"Edit Fields for Content"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"row_number":"={{ $('Get Master List2').first().json.row_number }}","Stage":"Content"},"matchingColumns":["row_number"],"schema":[{"id":"Primary Keywords","displayName":"Primary Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Location Name","displayName":"Location Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Language Name","displayName":"Language Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sheet ID","displayName":"Sheet ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sheet URL","displayName":"Sheet URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Secondary Keyword","displayName":"Secondary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Id","displayName":"Post Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Date","displayName":"Post Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Link","displayName":"Post Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Content","displayName":"Post Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Slug","displayName":"Post Slug","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Title","displayName":"Post Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Status","displayName":"Post Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4520,2600],"id":"445dce9f-ec21-4f99-a15f-588db68ea3a0","name":"Update Master List"},{"parameters":{"documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Stage","lookupValue":"SERP"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,2040],"id":"4b0084cb-4242-4efb-aa7c-5369242f928b","name":"Get Master List2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,2040],"id":"68f5ddd8-7bff-4f0a-9948-cca98d9cc423","name":"Schedule Trigger2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Master List').first().json.row_number }}","Stage":"SERP"},"matchingColumns":["row_number"],"schema":[{"id":"Primary Keywords","displayName":"Primary Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Location Name","displayName":"Location Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Language Name","displayName":"Language Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sheet ID","displayName":"Sheet ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sheet URL","displayName":"Sheet URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Article Count","displayName":"Article Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1860,1240],"id":"50275e8d-62d1-4ac0-8315-bc71324b76f7","name":"Update Master1"},{"parameters":{"content":"## We will call multiple DataForSEO endpoints to get all types of keywords.","height":80,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,100],"id":"04fb1ff7-7c7e-4444-8895-1617992a44d1","name":"Sticky Note"},{"parameters":{"content":"## Remove duplicated keywords and pass them to AI to filter out unrelated keywords, like \"w hotel\" in \"Tokyo Hotel\" (Tokyo does not have w hotel\").","height":120,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,440],"id":"fe5f1cc7-c386-4052-8dae-7d00969e4538","name":"Sticky Note1"},{"parameters":{"content":"## Add a scoring forumla for ranking keywords as an internal reference.","height":80,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3100,380],"id":"3fc74866-82bd-4af5-bd12-6f1ae0e35846","name":"Sticky Note2"},{"parameters":{"content":"## Some keywords are missing volume and difficulty data, which are required for score calculation. We need to fetch this information again for those specific keywords.","height":120,"width":760,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3580,1000],"id":"5d9e9c4c-d3a3-4d4f-ae71-fddcaadb68fe","name":"Sticky Note3"},{"parameters":{"content":"## Get 1 Keyword from the Master list and get first-page SERP result.","height":80,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,1400],"id":"b3222362-0bb5-4966-afde-3d48ba7a1e3f","name":"Sticky Note5"},{"parameters":{"content":"## Use Apify to get the website content and use GPT to analysis the content.","height":80,"width":700,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,1420],"id":"77cad051-5c65-415f-9a36-eb11033402e3","name":"Sticky Note6"},{"parameters":{"content":"## Retrieve SERP data for keywords from the master list, including all ranking entries. Then, use GPT to generate a content brief and article outline based on the analysis.","height":120,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,2220],"id":"3b41018b-a019-42ae-a0a4-6e737b8e245a","name":"Sticky Note7"},{"parameters":{"content":"## Generate an image using OpenAI's image generation API, then resize and convert it to JPEG format to optimize file size.","height":80,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,2800],"id":"141fe7f7-1f1a-4b00-8dc4-4d1417f55887","name":"Sticky Note8"},{"parameters":{"content":"## We will also retrieve existing articles from our content library to identify internal linking opportunities.","height":80,"width":660,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2640,2500],"id":"d6e915c9-3aee-4142-a0f5-41799f936bea","name":"Sticky Note9"},{"parameters":{"content":"# 🆂🆃🅴🅿 🅾🅽🅴: 🅺🅴🆈🆆🅾🆁🅳 🆁🅴🆂🅴🅰🆁🅲🅷","height":1200,"width":4720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"93ccfa95-8b80-42ea-bc4a-40143dfb697f","name":"Sticky Note11"},{"parameters":{"content":"# 🆂🆃🅴🅿 🆃🆆🅾: 🆂🅴🆁🅿 🅰🅽🅰🅻🆈🆂🅸🆂","height":660,"width":3460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1220],"id":"ef4c2168-e607-409a-bc11-c9d95f3e3b96","name":"Sticky Note12"},{"parameters":{"content":"# 🆂🆃🅴🅿 🆃🅷🆁🅴🅴: 🅲🅾🅽🆃🅴🅽🆃 🅱🆁🅸🅴🅵","height":500,"width":3460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1920],"id":"b6b2abfb-ce32-4abc-83fc-11ae9dde72c6","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"b5af33f3-89b7-401c-a853-23436b1e17a8","name":"content","value":"={{ $('H2 Content Agent').item.json.output.content }}","type":"string"},{"id":"39fb83c5-230d-4af0-bcaf-6c7d60128558","name":"image","value":"={{ $json.guid.rendered }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,2600],"id":"203421fa-5989-405d-93a4-f0a9f184f9f9","name":"Final Sections"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3480,2600],"id":"a6df7262-0845-41d2-a643-3483b10389a5","name":"Aggregate Sections"},{"parameters":{"promptType":"define","text":"=I'm writing a SEO article for,{{ $('Get Master List4').item.json['Primary Keywords'] }} it including following sections:\n\n{{ $('Get Master List4').item.json['Table of Contents'] }}\n\nHere are the existing articles on my site:\n{{ $('Aggregate Posts').item.json.data.map(i => `${i.title}\\n${i.link}`).join(\"\\n\\n\") }}\n\nAnd affiliate link:\nn8n - https://s.andynocode.com/andynocode-premium-about-n8n\nApify - https://s.andynocode.com/andynocode-premium-about-apify\n\nTry to update the following section content with a backlink to my existing articles or affiliate links. Try to insert 0 - 2 related backlinks that make sense. If you cannot find a suitable article, return the original content.\n\n{{ $json.content }}\n\nReturn the content only:","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2880,2600],"id":"71e1f2b1-308e-4a49-abe0-7b17a4f10b82","name":"Link Agent"},{"parameters":{"assignments":{"assignments":[{"id":"64ba2aaf-0f0b-487c-a603-d17fac936cf2","name":"title","value":"={{ $json.title.rendered }}","type":"string"},{"id":"c1ca5d65-029b-4bff-aa55-321de6c5ffd2","name":"link","value":"={{ $json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,2600],"id":"95820453-879d-470d-9698-e60e1658c8a1","name":"Edit Fields2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[740,2600],"id":"b4240e9e-53a1-4ca9-9ae3-3e6e9de68b7a","name":"Aggregate Posts"},{"parameters":{"jsonSchemaExample":"{\n\t\"content\": \"xxx\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1540,2820],"id":"fa0e194e-c132-4aa0-921d-aefa9d24d61d","name":"Structured Output Parser5"},{"parameters":{"assignments":{"assignments":[{"id":"12a5981d-30d9-41d7-8d06-005d30497615","name":"content","value":"={{ $json.output }}","type":"string"},{"id":"01f7b559-e30c-4553-8aec-3ebf341f21b2","name":"image","value":"={{ $('Final Sections').item.json.image }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3240,2600],"id":"c5adfc9d-3412-4fdf-b30c-46e8e56ecee8","name":"Update Section"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78db9f6f-5906-4df0-8da3-66592095b2b4","leftValue":"={{ $json.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2080,1520],"id":"650a8594-de8f-47f1-aa4b-beab91df690a","name":"If Crawl Success"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"956f8286-def7-4d17-8526-ffcb334fb7bb","leftValue":"={{ $json['Word Count'] }}","rightValue":1000,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2900,1520],"id":"c8c8e23d-54fe-464e-926f-ce2cfedb65f0","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"db5e9972-33b2-44bd-975a-09752bdae8dd","name":"Keyword","value":"={{ $json.output.Keyword }}","type":"string"},{"id":"ac11ca69-f18f-424a-aa73-26c1b7acea35","name":"Slug","value":"={{ $json.output.Slug }}","type":"string"},{"id":"8cf61ade-4bdb-440b-80f1-1d3eb92ed9fa","name":"Meta Title","value":"={{ $json.output['Meta Title'] }}","type":"string"},{"id":"2175ffd0-9b75-4b68-8c0b-d45601252652","name":"Meta Description","value":"={{ $json.output['Meta Description'] }}","type":"string"},{"id":"49b3019a-bfdf-4e60-82a9-b25f426818a2","name":"Table of Contents","value":"={{ $json.output['Table of Contents'] }}","type":"string"},{"id":"f5cc78a1-3407-4556-bed8-9933dca5eb3e","name":"Introduction","value":"={{ $json.output.Introduction }}","type":"string"},{"id":"284e919a-99ba-47d3-b54a-60116c1fdd85","name":"Conclusion","value":"={{ $json.output.Conclusion }}","type":"string"},{"id":"74767c6c-1fd3-4362-9874-78fdafe46a98","name":"Notes","value":"={{ $json.output.Notes }}","type":"string"},{"id":"12de3eb5-da9a-40e2-8b56-c03f947b9bf6","name":"Content","value":"={{ $json.output.Content.map(i => `Title: ${i.Title}\\nBrief: ${i.Draft}\\nWords: ${i['Words']}\\nImage: ${i['Image Prompt']}`).join(\"\\n\\n\") }}","type":"string"},{"id":"03f11d1c-d15c-424c-8e16-dcc8e5e7912a","name":"External References","value":"={{ $json.output['External References'] }}","type":"array"},{"id":"64bf32c6-8b53-49c7-b26f-5a35aeeef257","name":"Target Audience","value":"={{ $('Content Brief Agent').item.json.output['Target Audience'] }}","type":"string"},{"id":"5ab085da-e509-4ed7-ae44-68ea861a4d46","name":"Unique Angle","value":"={{ $('Content Brief Agent').item.json.output['Unique Angle'] }}","type":"string"},{"id":"8ad6c89d-d0af-407f-8588-351ff779e619","name":"CTAs Needed","value":"={{ $('Content Brief Agent').item.json.output['CTAs Needed'] }}","type":"string"},{"id":"08f31302-461f-4e37-a040-17ef7fae0951","name":"Stage","value":"Brief","type":"string"},{"id":"9eff9ee3-ff88-4c96-8a8b-2f88272df19b","name":"row_number","value":"={{ $('Get Master List2').item.json.row_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,2040],"id":"9cdd690a-908a-4459-8cd9-d8ae7ec75e3c","name":"Edit Fields3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["row_number"],"schema":[{"id":"Primary Keywords","displayName":"Primary Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location Name","displayName":"Location Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Language Name","displayName":"Language Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sheet ID","displayName":"Sheet ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sheet URL","displayName":"Sheet URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Secondary Keyword","displayName":"Secondary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Id","displayName":"Post Id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Date","displayName":"Post Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Link","displayName":"Post Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Content","displayName":"Post Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Slug","displayName":"Post Slug","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Title","displayName":"Post Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Status","displayName":"Post Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1940,2040],"id":"108fa625-49ef-4b9e-9219-e93a75535eaf","name":"Google Sheets4"},{"parameters":{"content":"# 🆂🆃🅴🅿 🅵🅾🆄🆁: 🅲🅾🅽🆃🅴🅽🆃 🅳🆁🅰🅵🆃 & 🅿🆄🅱🅻🅸🆂🅷 🆃🅾 🆆🅾🆁🅳🅿🆁🅴🆂🆂","height":500,"width":4800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2460],"id":"500d5231-cd4f-405d-b88d-b29f2d9d8e34","name":"Sticky Note14"},{"parameters":{"documentId":{"__rl":true,"value":"1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk","mode":"list","cachedResultName":"SEO Master List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-Bwu0GhKmCg_RQJ3MLCbQeJaUxTQdgKwSR6Q4duDgfk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Stage","lookupValue":"Ready"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,2600],"id":"4b0dab62-e402-47e3-b1e0-fdb9a87c0462","name":"Get Master List4"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,2600],"id":"64936d22-3ef4-449f-a259-e1c1e1135ed5","name":"Schedule Trigger4"},{"parameters":{"jsCode":"const content = $input.first().json.Content.split(\"\\n\\n\")\n  .map(i => ({ data: i }))\n\nreturn content;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,2600],"id":"c3f1419a-4a5d-4c0c-9241-bfe53edc870f","name":"Split Content"},{"parameters":{"content":"## Changing the Post Status to 'Ready' will automatically publish the post, overriding the existing WordPress post content with the new Post Content.","height":140,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,2760],"id":"9c8830b5-fc6f-4a8d-8058-aafa01c6cda1","name":"Sticky Note10"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[120,600],"id":"dda99770-7a91-4bff-bf84-340ce3264bce","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2240,820],"id":"fe4a993a-31e3-4a7e-947e-e8c4b30f3c35","name":"OpenRouter Chat Model"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2260,1740],"id":"69d96c85-261f-4d16-971f-785ac470bf81","name":"OpenRouter Chat Model1"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[940,2260],"id":"da2045e5-3fae-4f13-b254-0e6740d1c96a","name":"OpenRouter Chat Model2"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1340,2260],"id":"06ce2e90-1367-4437-a666-1f78fc2ca5ea","name":"OpenRouter Chat Model3"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1380,2820],"id":"b808afe9-ec1d-44fb-b842-567e37adcfcb","name":"OpenRouter Chat Model4"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2880,2820],"id":"4738d2d8-53d4-4651-b848-f207fac779db","name":"OpenRouter Chat Model5"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3720,2820],"id":"358c9c13-6bdf-4b05-b55b-60e15c8ced05","name":"OpenRouter Chat Model6"},{"parameters":{"assignments":{"assignments":[{"id":"3cf974a1-974d-4d4b-82ab-867110b6ae77","name":"keyword_difficulty","value":"={{ $json.keyword_difficulty }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4020,600],"id":"da5ffa49-6e9b-411b-89b1-1e814584981f","name":"Set Difficulty"},{"parameters":{"promptType":"define","text":"=I'm writing a SEO article for {{ $('Get Master List4').item.json['Meta Title'] }}, it including following sections:\n\n{{ $('Get Master List4').item.json['Table of Contents'] }}\n\nNow write for the following section:\n{{ $json.data }}\n(ignore image)\n\nNotes:\n{{ $('Get Master List4').item.json.Notes }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1380,2600],"id":"39d88db5-a452-4a5b-99c6-a18ad35877f1","name":"H2 Content Agent"},{"parameters":{"promptType":"define","text":"=I’m writing a SEO article for {{ $('Get Master List2').item.json['Primary Keywords'] }} (main keyword) and {{ $('Get Master List2').item.json['Secondary Keyword'] }} (secondary keyword). \n\nContent Goal:\n{{ $json.output['Content Goal'] }}\n\nContent Type:\n{{ $json.output['Content Type'] }}\n\nTarget Audience:\n{{ $json.output['Target Audience'] }}\n\nSearch Intent:\n{{ $json.output['Search Intent'] }}\n\nRecommended Word Count:\n{{ $json.output['Recommended Word Count'] }}\n\nTone & Style\n{{ $json.output['Tone & Style'] }}\n\nUnique Angle\n{{ $json.output['Unique Angle'] }}\n\nSuggested Sections\n{{ $json.output['Suggested Sections'].join(\"\\n\") }}\n\nCTAs Needed\n{{ $json.output['CTAs Needed'] }}\n\n{{ $json.output['Linked SERP Analysis'] }}\n{{ JSON.stringify($('Aggregate2').item.json.data) }}  \n\nNotes:\n{{ $json.output.Notes }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1360,2040],"id":"cda33a67-dab3-4059-9996-1caaa7f40c17","name":"H2 Draft Agent"},{"parameters":{"promptType":"define","text":"=I've done a SEO research, here's the result:\n\n{{ JSON.stringify($json.data) }}\n\nNow generate a Content Brief with the following columns:\n\nKeyword: The primary keyword for the article (must match with the Master sheet)\nContent Goal: Purpose of the article (e.g., educate, convert, rank for question intent)\nContent Type: Format: Guide, Listicle, Comparison, Tutorial, etc.\nTarget Audience: Who the content is for (e.g., beginners, marketers, DIYers, runners)\nSearch Intent: Informational, Commercial, Transactional, Navigational\nRecommended Word Count: Based on the topic, estimate a long-form article word count, target to be at least 3000 but not more than 8000 words, return an absolute number\nTone & Style: Informational, persuasive, conversational, expert, etc.\nUnique Angle: What makes your version better (e.g., adds visuals, expert quotes, new data)\nSuggested Sections: Draft H2s/H3s (based on SERP analysis + GPT suggestions), sections count should relevant to words count, each section should be at least 100 words but not more than 1000 words\nCTAs Needed: Diagrams, product embeds, forms, signups, affiliate links, etc.\nLinked SERP Analysis: Optional: hyperlink to row or note in SERP Analysis tab\nNotes: Additional comments, reminders, or ideas\n\nreturn in JSON","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[980,2040],"id":"a596fb40-99c0-4b60-9a1e-6239c87fa7c8","name":"Content Brief Agent"}],"connections":{"Get Related Keywords":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get Fields to Google Sheet","type":"main","index":0}]]},"Get Fields to Google Sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Get Fields to Google Sheet1","type":"main","index":0}]]},"Get Fields to Google Sheet1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get Suggested Keywords":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out KW Ideas1":{"main":[[{"node":"Get Fields to Google Sheet2","type":"main","index":0}]]},"Split Out Autocomplete1":{"main":[[{"node":"Get Fields to Google Sheet3","type":"main","index":0}]]},"Split Out Subtopics1":{"main":[[{"node":"Get Fields to Google Sheet4","type":"main","index":0}]]},"Get Keyword Ideas":{"main":[[{"node":"Split Out KW Ideas1","type":"main","index":0}]]},"Get Autocomplete":{"main":[[{"node":"Split Out Autocomplete1","type":"main","index":0}]]},"Get Subtopics":{"main":[[{"node":"Split Out Subtopics1","type":"main","index":0}]]},"Get Fields to Google Sheet2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get Fields to Google Sheet3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Get Fields to Google Sheet4":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Filter Missing Difficulties":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Adding Score Field & Difficulty","type":"main","index":0},{"node":"Filter Missing Difficulties","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get Keywords Difficulties","type":"main","index":0},{"node":"Get Volume","type":"main","index":0}]]},"Get Keywords Difficulties":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Set Difficulty","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Get Volume":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Adding Score Field & Difficulty":{"main":[[{"node":"Add Keyword to Sheet","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Unrelated Keywords Filter","type":"ai_outputParser","index":0}]]},"Split Out5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webpage Crawler":{"main":[[{"node":"If Crawl Success","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Content Analysis Agent","type":"ai_outputParser","index":0}]]},"Content Analysis Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Update Master1","type":"main","index":0}],[{"node":"Webpage Crawler","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get SERP":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Content Brief Agent","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Content Brief Agent","type":"ai_outputParser","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"H2 Draft Agent","type":"ai_outputParser","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Upload Media":{"main":[[{"node":"Final Sections","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Resize Image","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"HTML Content Agent","type":"ai_outputParser","index":0}]]},"HTML Content Agent":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"Wordpress":{"main":[[{"node":"Edit Fields for Content","type":"main","index":0}]]},"Move to Folder":{"main":[[{"node":"Get Related Keywords","type":"main","index":0},{"node":"Get Keyword Ideas","type":"main","index":0},{"node":"Get Suggested Keywords","type":"main","index":0},{"node":"Get Autocomplete","type":"main","index":0},{"node":"Get Subtopics","type":"main","index":0}]]},"Unrelated Keywords Filter":{"main":[[{"node":"Map Original","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"Unrelated Keywords Filter","type":"main","index":0}]]},"Map Original":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Master List","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Update Master","type":"main","index":0}]]},"Create Google Sheets":{"main":[[{"node":"Move to Folder","type":"main","index":0}]]},"Get Job":{"main":[[{"node":"Create Google Sheets","type":"main","index":0}]]},"Get Master List":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get SERP1":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get SERP1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Get 10 Entries from Keywords","type":"main","index":0}]]},"Get 10 Entries from Keywords":{"main":[[{"node":"Split Out5","type":"main","index":0}]]},"Get Posts":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Resize Image":{"main":[[{"node":"Upload Media","type":"main","index":0}]]},"Edit Fields for Content":{"main":[[{"node":"Update Master List","type":"main","index":0}]]},"Get Master List2":{"main":[[{"node":"Get SERP","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Get Master List2","type":"main","index":0}]]},"Final Sections":{"main":[[{"node":"Link Agent","type":"main","index":0}]]},"Aggregate Sections":{"main":[[{"node":"HTML Content Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Aggregate Posts","type":"main","index":0}]]},"Aggregate Posts":{"main":[[{"node":"Get Master List4","type":"main","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"H2 Content Agent","type":"ai_outputParser","index":0}]]},"Link Agent":{"main":[[{"node":"Update Section","type":"main","index":0}]]},"Update Section":{"main":[[{"node":"Aggregate Sections","type":"main","index":0}]]},"If Crawl Success":{"main":[[{"node":"Content Analysis Agent","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets5","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Get Posts","type":"main","index":0}]]},"Get Master List4":{"main":[[{"node":"Split Content","type":"main","index":0}]]},"Split Content":{"main":[[{"node":"H2 Content Agent","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Job","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Unrelated Keywords Filter","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Content Analysis Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Content Brief Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"H2 Draft Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"H2 Content Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"Link Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"HTML Content Agent","type":"ai_languageModel","index":0}]]},"Set Difficulty":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"H2 Content Agent":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"H2 Draft Agent":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Content Brief Agent":{"main":[[{"node":"H2 Draft Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"263131dc-2399-40a9-9406-62fba9e9d40e","triggerCount":0,"tags":[]}